  <!-- footer -->
  <div class="footer-content">
    <div class="footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <ul class="list-unstyled clear-margins">
                        <li class="widget-container widget_nav_menu">
                            <h1 class="title-widget">CGV Việt Nam</h1>
                            <ul>
                                <li>
                                    <a href=""><i class="fa fa-angle-double-right"></i> Giới Thiệu</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-angle-double-right"></i> Tiện Ích Online</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-angle-double-right"></i> Thẻ Quà Tặng</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-angle-double-right"></i> Tuyển Dụng</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-angle-double-right"></i> Liên Hệ Quảng Cáo CGV</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <ul class="list-unstyled clear-margins">
                        <li class="widget-container widget_nav_menu">
                            <h1 class="title-widget">Điều Khoản</h1>
                            <ul>
                                <li>
                                    <a href=""><i class="fa fa-angle-double-right"></i> Điều Khoảng Chung</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-angle-double-right"></i> Điều Khoản Giao Dịch</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-angle-double-right"></i> Chính Sách Thanh Toán</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-angle-double-right"></i> Chính Sách Bảo Mật</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-angle-double-right"></i> Câu Hỏi Thường Gặp</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <ul class="list-unstyled clear-margins">
                        <li class="widget-container widget_nav_menu">
                            <h1 class="title-widget">Kết Nối CGV</h1>
                            <ul>
                                <li>
                                    <div class="social-menu">
                                        <ul>
                                            <li><a href="https://www.facebook.com/cgvcinemavietnam" target="_blank"><i class="fab fa-facebook-f" style="opacity: 1;"></i></a></li>
                                            <li><a href="https://www.youtube.com/cgvvietnam" target="_blank"><i class="fab fa-youtube" style="opacity:1"></i></a></li>
                                            <li><a href="https://www.instagram.com/cgvcinemasvietnam/" target="_blank"><i class="fab fa-instagram" style="opacity:1"></i></a></li>
                                            <li><a href="https://zalo.me/1884424922722396289" target="_blank"><i class="fab fa-twitter" style="opacity:1"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="http://online.gov.vn/Home/WebDetails/30270" target="_blank"><img width="100%" style="margin-top: 20px;" src="image/chungnhanbocongthuong.png" alt=""></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <ul class="list-unstyled clear-margins">
                        <li class="widget-container widget_nav_menu">
                            <h1 class="title-widget">Chăm Sóc Khách Hàng</h1>
                            <ul>
                                <li>
                                    <a href=""><i class="fa fa-angle-double-right"></i> Hotline: 1900 1006</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-angle-double-right"></i> Giờ Làm Việc 8:00 - 22:00(Tất cả các ngày bao gồm lễ)</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-angle-double-right"></i> EMail Hỗ Trợ: hoidapcgv@gmail.com</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>