 <!-- header -->
 
<div id="alert" class="noti-alert hide">
  <span class="fas fa-check-circle"></span>
  <span class="msg"><%- message %></span>
  <span class="hide-btn">
      <span class="fas fa-times"></span>
  </span>
</div>

<div id="alert-1" class="sucess-alert hide">
  <span class="fas fa-exclamation-circle"></span>
  <span class="msg"><%- message %></span>
  <span class="hide-btn">
      <span class="fas fa-times"></span>
  </span>
</div>

    <header>
        <nav class="nav-header">
            <a href="/"><img class="logo" src="image/icon-bg.png" alt=""></a>
                <ul class="nav-links">
                    <li class="<%- title === 'Trang Chủ' ? 'active' : '' %>"><a data-page="home" href="/" >Trang Chủ</a></li>
                    <li><a data-page="contact"  href="#">Cụm Rạp</a></li>
                    <li><a data-page="projects"  href="#">Lịch Chiếu</a></li>
                    <li><a data-page="contact"  href="#">Khuyến Mãi</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <div class="nav-login">
                    <a class="btn-dropmenu" style="color: aliceblue;" >Đăng Nhập</a>
                    <div class="dropdown_menu" >
                        <form id="form-login" method="POST" action="login" class="h-form-login" >
                            <div class="form-group">
                              <input id="email" type="email" name="email" class="input_text" placeholder="Email">
                              <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                              <input id="password" type="password" name="password" class="input_text" placeholder="Password">
                              <span class="form-message"></span>
                            </div>
                            <div class="form-submit">
                                <button type="submit" style="background: #54ab35;" class="btn btn-success">Đăng Nhập</button>
                                <a class="btn-link">Quên mật khẩu?</a>  
                            </div>
                            <a class="btn btn-reg" style="color: white; background: #54ab35; font-weight: normal;" href="/reg">Đăng Ký Thành Viên</a>
                          </form>
                    </div>
                </div>
        </nav>
        <script src="js/header.js"></script>
        <script src="js/validateform.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
           
                Validator ({
                  form: '#form-login',
                  formGroupSelector: '.form-group',
                  errorSelector: '.form-message',
                  rules: [
                    Validator.isRequired('#email', 'Email không được trống!'),
                    Validator.isEmail('#email'),
                    Validator.isRequired('#password', 'Mật khẩu không được trống!'),
                    Validator.minLength('#password', 8),
                    ]
                    });

                 var error = `<%- error %>`;
                 if(error === "true")
                  { 
                      document.getElementById("alert").classList.remove("hide");
                      document.getElementById("alert").className += " show";
                      document.getElementById("alert").className += " showAlert"; 
                      setTimeout(function() {
                              $('.noti-alert').addClass("hide");
                              $('.noti-alert').removeClass("show");
                      },3000);
                      var Buttonelement = document.querySelector('.hide-btn');

                      Buttonelement.addEventListener("click", function(){ 
                          document.getElementById("alert").classList.remove("show");
                          document.getElementById("alert").className += " hide";
                      });
                  }
                  else if(error === "false") {
                      document.getElementById("alert-1").classList.remove("hide");
                      document.getElementById("alert-1").className += " show";
                      document.getElementById("alert-1").className += " showAlert"; 
                      setTimeout(function() {
                              $('.sucess-alert').addClass("hide");
                              $('.sucess-alert').removeClass("show");
                      },3000);
                      var Buttonelement = document.querySelector('.hide-btn');

                      Buttonelement.addEventListener("click", function(){ 
                          document.getElementById("sucess-alert").classList.remove("show");
                          document.getElementById("sucess-alert").className += " hide";
                      });
                  }
              });
        </script>
    </header>