    <!-- header -->
    <header>
        <nav class="nav-header">
            <a href="/"><img class="logo" src="image/icon-bg.png" alt=""></a>
                <ul class="nav-links">
                    <li class="active"><a data-page="home" href="/" >Trang Chủ</a></li>
                    <li><a data-page="contact"  href="#">Cụm Rạp</a></li>
                    <li><a data-page="projects"  href="#">Lịch Chiếu</a></li>
                    <li><a data-page="contact"  href="#">Khuyến Mãi</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <div class="nav-login">
                    <a class="btn-dropmenu" style="color: aliceblue;" >Đăng Nhập</a>
                    <div class="dropdown_menu" >
                        <form method="POST" class="form-login" >
                            <div class="form-group">
                              <input type="email" class="input_text" placeholder="Email">
                            </div>
                            <div class="form-group">
                              <input type="password" class="input_text" placeholder="Password">
                            </div>
                            <div class="form-submit">
                                <button type="submit" style="background: #54ab35;" class="btn btn-success">Đăng Nhập</button>
                                <a class="btn-link">Quên mật khẩu?</a>  
                            </div>
                            <a class="btn btn-reg" style="color: white; background: #54ab35; font-weight: normal;" href="/reg">Đăng Ký Thành Viên</a>
                          </form>
                    </div>
                </div>
        </nav>
    </header>