<style>

    .header__admin {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 250px;
        height: 100vh;
        color: #a6b2c9;
    }

    .header__admin ul {
        list-style: none;
    }
    .header__admin ul li a {
        padding: 15px 10px;
        text-decoration: none;
    }

    .header__admin ul li {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .header__admin ul li:hover {
        background-color: #a6b2c9;
    }

    .header__admin ul li:hover a {
        color: #54ab35;
    }
    
    .profile_ad {
        width: 100%;
        display: flex;
    }

    .profile_ad img {
        width: 60px;
        margin: 20px;
    }

    .profile_ad span {
        font-size: 25px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__admin a {
        padding: 15px 10px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__admin a:hover {
        background-color: #a6b2c9;
        color: #54ab35;
    }
</style>
<header class="header__admin">
    <div class="profile_ad">
        <img onerror="this.src='http://localhost:3000/image/user-bg.png'" class="avartar-user" src="http://localhost:3000/image/user-bg.png">
        <span>Admin</span>
    </div>
    <hr style="background: rgba(255,255,255,0.2); margin-top: 0;">
    <ul class="nav-links">
        <li class="btn-nav"><a href="/admin">Thêm Phim & Rạp Phim</a></li>
        <li class="btn-nav"><a href="/admin/revenue">Doanh Thu</a></li>
        <li class="btn-nav"><a href="/admin/showtime">Quản Lý Suất Chiếu</a></li>
    </ul>
    <hr style="background: rgba(255,255,255,0.2); margin-top: 0;">
    <a href="/logout">Đăng Xuất</a>
</header>