$colorLayout: #121825;
$colorGreen: #54ab35;
$colorWhite: #fff;
$colorText: #a6b2c9;
$colorTitle: #d4dd29;
$colorBgForm: #1c262f;
$colorLoading: #00ff0a;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');