$colorLayout: #121825;
$colorGreen: #27df2d;
$colorWhite: #fff;
$colorText: #a6b2c9;
$colorTitle: #d4dd29;
$colorBgForm: #1c262f;
$colorLoading: #00ff0a;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
//  font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap');
//  font-family: 'Encode Sans SC', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
//  font-family: 'Girassol', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
//  font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Bahianita&display=swap');
// font-family: 'Bahianita', cursive;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200;300&display=swap');
// font-family: 'Noto Sans Mono', monospace;
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
// font-family: 'Pattaya', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
// font-family: 'Pacifico', cursive;
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&family=Pacifico&display=swap');
// font-family: 'Baloo Tammudu 2', cursive;