@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", serif;
}

/* Toàn bộ thanh cuộn */
::-webkit-scrollbar {
  width: 10px; /* Độ rộng của thanh cuộn dọc */
  height: 8px; /* Độ cao của thanh cuộn ngang */
}

/* Track của thanh cuộn (phần nền) */
::-webkit-scrollbar-track {
  background: #121825; /* Màu nền của track */
  border-radius: 10px; /* Bo góc cho track */
}

/* Thumb của thanh cuộn (phần di chuyển được) */
::-webkit-scrollbar-thumb {
  background: rgb(85, 172, 238, 0.7); /* Màu của thumb */
  border-radius: 10px; /* Bo góc cho thumb */
}

/* Thumb khi hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 172, 238, 0.9); /* Màu khi hover */
}

.gradient-text {
  background: linear-gradient(75deg, #55acee, #e4405f, #27df2d);
  background-size: 200% 200%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 80%;
  }
}
