
<section class="more-film" id="more-film">
    <form method="POST" id="more-film_form" class="more-film_form" >
            <h3 class="title">Add Movies</h3>
            <ul class="form_poster">
                <li class="form_poster-item">
                    <img src="" alt="" class="poster-item-img item-1" id="item-1" name="poster1">
                    <a class="item-btn" ><i class="fal fa-plus">
                        <input type="file" id="selectedFile" class="disp-none" accept=".png, .jpg, .jpeg ,svg">
                    </i></a>
                    <a class="close-btn"><i class="fal fa-times active"></i></a>
                </li>
                <li class="form_poster-item">
                    <img src="" alt="" class="poster-item-img item-2"  id="item-2">
                    <a class="item-btn"><i class="fal fa-plus">
                        <input type="file" id="selectedFile" class="disp-none" accept=".png, .jpg, .jpeg ,svg">
                    </i></a>
                    <a class="close-btn"><i class="fal fa-times active"></i></a>
                </li>
                <li class="form_poster-item">
                    <img src="" alt="" class="poster-item-img item-3"  id="item-3">
                    <a class="item-btn"><i class="fal fa-plus">
                        <input type="file" id="selectedFile" class="disp-none" accept=".png, .jpg, .jpeg ,svg">
                    </i></a>
                    <a class="close-btn"><i class="fal fa-times active"></i></a>
                </li>
                <li class="form_poster-item">
                    <img src="" alt="" class="poster-item-img item-4"  id="item-4">
                    <a class="item-btn"><i class="fal fa-plus">
                        <input type="file" id="selectedFile" class="disp-none" accept=".png, .jpg, .jpeg ,svg">
                    </i></a>
                    <a class="close-btn"><i class="fal fa-times active"></i></a>
                </li>
            </ul>
            <div class="form_movies-content">
                <div class="form_movies-content-left">
                    <div class="form" id="form-frofile">
                        <div id="form-group" class="id-film">
                            <div class="form-group">
                                <label>ID Film</label>
                                <div class="input-text">
                                    <input id="ID" name="movieId" type="text" class="input" readonly value="<%- movieid %>">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tên Film</label>
                                <div class="input-text">
                                    <input id="name" name="namefilm" type="text" class="input">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                        </div>  
                        <div id="form-group" class="id-film">
                            <div id="form-group" class="form-group">
                                <label>Đặc tả</label>
                                <div class="input-text">
                                    <input id="specific" name="specific" type="text" class="input">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                            <div id="form-group" class="form-group">
                                <label>Thời lượng (phút)</label>
                                <div class="input-text">
                                    <input id="time" name="time" type="text" onkeypress="return isNumberKey(event)" class="input">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                        </div>  
                        <div id="form-group" class="form-group">
                            <label>Mô tả</label>
                            <div class="input-text">
                                <textarea id="describe" name="describe" type="text" class="form-control input" style="height: 100px;"></textarea>
                                <span class="form-message"></span>
                            </div>
                        </div> 
                        <div id="form-group" class="form-group date-picker">
                            <div class="form-group date-form">
                                <label>Ngày công chiếu</label>
                                <div class="input-text">
                                    <input id="startdate" name="startdate" type="date" class="input">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                            <div class="form-group date-form">
                                <label>Ngày kết thúc</label>
                                <div class="input-text">
                                    <input id="enddate" name="enddate" type="date" class="input">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                        </div>
                        <button onclick="SubmitForm(event)" id="btn-save" type="submit" class="btn btn-save">Save Change</button>
                    </div>
                </div>
                <div class="form_movies-content-right">
                    <div id="form-group" class="id-film">
                        <div id="form-group" class="form-group">
                            <label>Thể loại</label>
                            <div class="input-text">
                                <input id="category" name="category" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div id="form-group" class="form-group">
                            <label>Đạo diễn</label>
                            <div class="input-text">
                                <input id="directors" name="directors" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div id="form-group" class="form-group">
                            <label>Diễn viên chính</label>
                            <div class="input-text">
                                <input id="mainActor" name="mainActor" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div id="form-group" class="form-group">
                            <label>ID Chanel Video trailer</label>
                            <div class="input-text">
                                <input id="chanelId" name="chanelId" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
    </form>
    <div class="datagrid-movies">
        <div class="datagrid__header">
            <h3 class="title">List Movies</h3>
            <div class="webflow-style-input">
                <input class="" type="email" placeholder="Tìm kiếm theo tên film . . ."></input>
                <button type="button"><i class="fas fa-hand-point-right"></i></button>
            </div>
        </div>
        <div class="table-list">
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tên Film</th>
                    <th scope="col">Thời Lượng</th>
                    <th scope="col">Ngày CC</th>
                    <th scope="col">Ngày KT</th>
                    <th scope="col">Option</th>
                  </tr>
                </thead>
                <tbody id="list-movies">
                </tbody>
              </table>
        </div>
    </div>
</section>


<section class="theater-system">
    <form method="POST" id="theater-system_form" class="theater-system_form">
        <h3 class="title">Add Theater System</h3>
        <div class="container">
            <div class="form_theater-content">
                <div class="form" >
                    <div id="form-group">
                        <div class="form-group">
                            <label>Khu Vực</label>
                            <select id="option-province" class="option-province" name="calc_shipping_provinces" onchange="onChangeOption()">
                                <option value="">Tỉnh / Thành phố</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>ID Khu Vực</label>
                            <div class="input-text">
                                <input id="theater-id" name="theater-id" type="text" class="input" readonly>
                                <span class="form-message"></span>
                            </div>
                        </div>
                    </div>  
                    <button onclick="submitTheaterSytem()" id="btn-save" type="button" class="btn btn-save">Save Change</button>
                </div>
            </div>
            <div class="theater-sytem_data">
                <div class="table-list__theater-sys">
                    <table class="table table-dark">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Khu Vực</th>
                            <th scope="col">Option</th>
                          </tr>
                        </thead>
                        <tbody id="list-district">
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </form>
</section>


<style>
    #map {
      height: 350px;
      width: 400px;
    }
</style>

<section class="theater">
    <h3 class="title">Add Theater</h3>
    <form method="POST" id="theater_form" class="theater_form">
            <div class="form_theater-content-left">
                <div class="form" >
                    <div id="form-group">
                        <div class="form-group">
                            <label>Khu Vực</label>
                            <select id="option-theater" class="option-theater">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>ID Rạp</label>
                            <div class="input-text">
                                <input id="th_id" name="th_id" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tên Rạp</label>
                            <div class="input-text">
                                <input id="th_name" name="th_name" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Loại Rạp</label>
                            <select id="option-type" class="option-type">
                                <option value="2D">2D</option>
                                <option value="3D">3D</option>
                                <option value="4DX">4DX</option>
                                <option value="STD">STD</option>
                                <option value="STARIUM">STARIUM</option>
                                <option value="PREMIUM">PREMIUM</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-save form-submit">Save Changes</button>
                </div>
            </div>
            <div class="form_theater-content-right">
                <div class="form" >
                    <div id="form-group">
                        <div class="form-group">
                            <label>Quận/Huyện - Tỉnh/Thành Phố</label>
                            <div class="input-text">
                                <input id="th_subadress" name="th_subadress" type="text" class="input"></input>
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Địa Chỉ</label>
                            <div class="input-text">
                                <textarea id="th_adress" name="th_adress" type="text" class="input"></textarea>
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div id="form-group" class="id-film">
                            <div class="form-group">
                                <label>Point Lat</label>
                                <div class="input-text">
                                    <input id="th_lat" name="th_lat" type="text" class="input">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Point Lng</label>
                                <div class="input-text">
                                    <input id="th_lng" name="th_lng" type="text" class="input">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                        </div>  
                        <div id="form-group" class="id-film">
                            <div class="form-group">
                                <label>Kích thước ngang</label>
                                <div class="input-text">
                                    <input id="horizontal_size" name="horizontal_size" type="text" class="input" onkeypress="return isNumberKey(event)">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Kích thước dọc</label>
                                <div class="input-text">
                                    <input id="vertical_size" name="vertical_size" type="text" class="input" onkeypress="return isNumberKey(event)">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                        </div>  
                        <a onclick="checkMap()" id="btn-check" class="btn btn-save">Check Maps</a>
                    </div>  
                </div>
            </div>
            <div class="theater__form-right">
                <div id="map"></div>
            </div>
    </form>
</section>
<script src="js/validateform.js"></script>
<script src="js/toastmesage.js"></script>
<script src="js/api/apiAdmin.js"></script>
<script src="js/admin.js"></script>
<script>
    function submitTheaterSytem() {
        let id = document.querySelector('#theater-id').value;
        let district = document.querySelector('#option-province');

        let textDistrict = district.options[district.selectedIndex].text;
        var data = {
            id: id,
            district: textDistrict
        };

        var options = {
                    method: 'POST', // or 'PUT'
                    headers: {
                    'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                }

        fetch(`http://localhost:3000/admin/district`, options)
            .then(function(response) {
                return response.json();
            })
            .then(function(result) {
                if(result === true)
                {
                    toast({
                        title: `Sucessfully!`,
                        message: `Thêm thành công`,
                        type: `success`,
                        duration: 3000
                    });
                    callApiAdmin();
                }
                else {
                    toast({
                        title: `Warning!`,
                        message: `Khu vực này đã được thêm vào!`,
                        type: `warning`,
                        duration: 3000
                    });
                }
            })
            .catch(function(err){
                    console.log(err);
            });
    }

    function onChangeOption() {
        var code = document.getElementById("option-province").value;
        document.getElementById("theater-id").value = code;
    }
    
    function initMap(object) {
        var options = {
            zoom: 12,
            center: { lat: Number(object.lat), lng: Number(object.lng) }
        }
        var map = new google.maps.Map(document.getElementById("map"), options);
        
        var marker = new google.maps.Marker({
            position: { lat: Number(object.lat), lng: Number(object.lng) },
            map: map
        })

        var infoWindow = new google.maps.InfoWindow({
            content: `<ul style="margin-bottom: 0; font-weight: 400;">
                    <li style="font-weight: bold;">Rạp: ${object.name}</li>
                    <li><span style="font-weight: bold;">Địa chỉ: </span>${object.address}</li>
                    <li><span style="font-weight: bold;">Liên hệ: </span>0374.992.033</li>
                </ul>`
        });

        marker.addListener('mouseover', function() {
            infoWindow.open(map, marker);
        });

        infoWindow.open(map, marker);

        marker.addListener('mouseover', function() {
            infoWindow.open(map, marker);
        });
    }
    
    
    function checkMap() {
        let lat = document.querySelector('#th_lat').value;
        let lng = document.querySelector('#th_lng').value;
        let nameTh = document.querySelector('#th_name').value;
        let addressTH = document.querySelector('#th_adress').value;
        object= {
            lat: lat,
            lng: lng,
            name: nameTh,
            address: addressTH
        };
        initMap(object);
    }

    fetch('http://localhost:3000/admin/api/local')
        .then(function(response) {
            return response.json();
        })
        .then(function(result) {
            var htmls = result.map(function(data) {
                return `
                    <option class="provinceId" value="${data.code}">${data.name}</option>
                `;
           });
           document.querySelector('#option-province').innerHTML = htmls.join('');
           document.getElementById("theater-id").value = result[0].code;
        });
</script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVaENvWMY4n6Wv5kDlYG2Bmm0YYy0_1MM&callback=initMap"></script>