<div class="section-loader hide">
    <div class="loader">
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
        <span style="--i:4;"></span>
        <span style="--i:5;"></span>
        <span style="--i:6;"></span>
        <span style="--i:7;"></span>
        <span style="--i:8;"></span>
        <span style="--i:9;"></span>
        <span style="--i:10;"></span>
        <span style="--i:11;"></span>
        <span style="--i:12;"></span>
        <span style="--i:13;"></span>
        <span style="--i:14;"></span>
        <span style="--i:15;"></span>
        <span style="--i:16;"></span>
        <span style="--i:17;"></span>
        <span style="--i:18;"></span>
        <span style="--i:19;"></span>
        <span style="--i:20;"></span>
    </div>
</div>

<section class="more-film" id="more-film">
    <div class="background-advertisement" style="height: 180%;">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </div>
    <form method="POST" id="more-film_form" class="more-film_form" >
            <h3 class="title">Add Movies</h3>
            <ul class="form_poster">
                <li class="form_poster-item">
                    <img src="" alt="" class="poster-item-img item-1" id="item-1" name="poster1">
                    <a class="item-btn" ><i class="fal fa-plus">
                        <input type="file" id="selectedFile" class="disp-none" accept=".png, .jpg, .jpeg ,svg">
                    </i></a>
                    <a class="close-btn"><i class="fal fa-times active"></i></a>
                </li>
                <li class="form_poster-item">
                    <img src="" alt="" class="poster-item-img item-2"  id="item-2">
                    <a class="item-btn"><i class="fal fa-plus">
                        <input type="file" id="selectedFile" class="disp-none" accept=".png, .jpg, .jpeg ,svg">
                    </i></a>
                    <a class="close-btn"><i class="fal fa-times active"></i></a>
                </li>
                <li class="form_poster-item">
                    <img src="" alt="" class="poster-item-img item-3"  id="item-3">
                    <a class="item-btn"><i class="fal fa-plus">
                        <input type="file" id="selectedFile" class="disp-none" accept=".png, .jpg, .jpeg ,svg">
                    </i></a>
                    <a class="close-btn"><i class="fal fa-times active"></i></a>
                </li>
                <li class="form_poster-item">
                    <img src="" alt="" class="poster-item-img item-4"  id="item-4">
                    <a class="item-btn"><i class="fal fa-plus">
                        <input type="file" id="selectedFile" class="disp-none" accept=".png, .jpg, .jpeg ,svg">
                    </i></a>
                    <a class="close-btn"><i class="fal fa-times active"></i></a>
                </li>
            </ul>
            <div class="form_movies-content">
                <div class="form_movies-content-left">
                    <div class="form" id="form-frofile">
                        <div id="form-group" class="id-film">
                            <div class="form-group">
                                <label>ID Film</label>
                                <div class="input-text">
                                    <input id="ID" name="movieId" type="text" class="input" readonly value="<%- movieid %>">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tên Film</label>
                                <div class="input-text">
                                    <input id="name" name="namefilm" type="text" class="input">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                        </div>  
                        <div id="form-group" class="id-film">
                            <div id="form-group" class="form-group">
                                <label>Đặc tả</label>
                                <div class="input-text">
                                    <input id="specific" name="specific" type="text" class="input">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                            <div id="form-group" class="form-group">
                                <label>Thời lượng (phút)</label>
                                <div class="input-text">
                                    <input id="time" name="time" type="text" onkeypress="return isNumberKey(event)" class="input">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                        </div>  
                        <div id="form-group" class="form-group">
                            <label>Mô tả</label>
                            <div class="input-text">
                                <textarea id="describe" name="describe" type="text" class="form-control input" style="height: 100px;"></textarea>
                                <span class="form-message"></span>
                            </div>
                        </div> 
                        <div id="form-group" class="form-group date-picker">
                            <div class="form-group date-form">
                                <label>Ngày công chiếu</label>
                                <div class="input-text">
                                    <input id="startdate" name="startdate" type="date" class="input">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                            <div class="form-group date-form">
                                <label>Ngày kết thúc</label>
                                <div class="input-text">
                                    <input id="enddate" name="enddate" type="date" class="input">
                                    <span class="form-message"></span>
                                </div>
                            </div>
                        </div>
                        <button onclick="SubmitForm(event)" id="btn-save" type="submit" class="btn btn-save">Save Change</button>
                    </div>
                </div>
                <div class="form_movies-content-right">
                    <div id="form-group" class="id-film">
                        <div id="form-group" class="form-group">
                            <label>Thể loại</label>
                            <div class="input-text">
                                <input id="category" name="category" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div id="form-group" class="form-group">
                            <label>Đạo diễn</label>
                            <div class="input-text">
                                <input id="directors" name="directors" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div id="form-group" class="form-group">
                            <label>Diễn viên chính</label>
                            <div class="input-text">
                                <input id="mainActor" name="mainActor" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>
                    </div>  
                    <div class="video-trailler">
                        <div class="content-video-trailler">
                            <video id="trailer" class="trailer" src="" width="100%" type="video/mp4" loop controls autoplay></video>
                            <a class="item-btn-video"><i id="icon-btn" class="fal fa-plus">
                                <input type="file" id="selectedVideo" class="disp-none" accept="video/*">
                            </i></a>
                            <a class="close-btn-video"><i class="fal fa-times active" id="btnRemoveVid"></i></a>
                        </div>
                    </div>
                </div>
            </div>
    </form>
    <div class="datagrid-movies">
        <div class="datagrid__header">
            <h3 class="title">List Movies</h3>
            <div class="webflow-style-input">
                <input class="" type="email" placeholder="Tìm kiếm theo tên film . . ."></input>
                <button type="button"><i class="fas fa-hand-point-right"></i></button>
            </div>
        </div>
        <div class="table-list">
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tên Film</th>
                    <th scope="col">Thời Lượng</th>
                    <th scope="col">Ngày CC</th>
                    <th scope="col">Ngày KT</th>
                    <th scope="col">Option</th>
                  </tr>
                </thead>
                <tbody id="list-movies">

                </tbody>
              </table>
        </div>
    </div>
</section>
<script src="js/validateform.js"></script>
<script src="js/api/apiAdmin.js"></script>
<script>

    window.onload = (e) => {
        callApiAdmin();
    }

    const defaultBtn = document.querySelectorAll('#selectedFile');
    const videoBtn = document.querySelector('#selectedVideo');
    const img = document.querySelectorAll('.poster-item-img');
    const btnFal = document.querySelectorAll('.fa-plus');
    const btnRemove = document.querySelectorAll('.fa-times');
    const btnRemoveVid = document.querySelector('#btnRemoveVid');
    const btnLoader = document.querySelector('.section-loader');
    
    var _id = "";
    const arrayData = [];

    function OpenImage() 
    {
        for(var i = 0; i< img.length; i++)
        {
            img[i].classList.add('show');
            btnFal[i].classList.add('active');
            btnRemove[i].classList.remove('active');
        }
    }

    function OpenVideo() 
    {
        document.getElementById('trailer').classList.add('show');
        document.getElementById('icon-btn').classList.add('active')
        btnRemoveVid.classList.remove('active');
    }


    $('.item-btn').click(function() {
        let index = $(this).parent().index();
        addEventClick(index);
    })

    $('.item-btn-video').click(function() {
        videoBtn.click();
    })

    $('.close-btn').click(function() {
        let index = $(this).parent().index();
        img[index].src = "";
        img[index].classList.remove('show');
        btnFal[index].classList.remove('active');
        btnRemove[index].classList.add('active');

        document.getElementById('trailer').src = "";
        document.getElementById('trailer').classList.remove('show');
        document.getElementById('icon-btn').classList.remove('active')
        btnRemoveVid.classList.add('active');
    })

    $('.close-btn-video').click(function() {
        document.getElementById('trailer').src = "";
        document.getElementById('trailer').classList.remove('show');
        document.getElementById('icon-btn').classList.remove('active')
        btnRemoveVid.classList.add('active');
    })

    videoBtn.addEventListener('change', function(req, res) {
        const file = this.files[0];
        if(file) {
            const reader = new FileReader();
            reader.onload = function(){
            const result = reader.result;
            document.getElementById('trailer').src = result;
            document.getElementById('trailer').classList.add('show');
            document.getElementById('icon-btn').classList.add('active');
            btnRemoveVid.classList.remove('active');
            }
            reader.readAsDataURL(file);
            return;
        }
    })


    function addEventClick (index) {
        defaultBtn[index].click();
        defaultBtn[index].addEventListener('change', function() {
        const file = this.files[0];
        if(file)
            {
                const reader = new FileReader();
                reader.onload = function(){
                const result = reader.result;
                img[index].src = result;
                img[index].classList.add('show');
                btnFal[index].classList.add('active');
                btnRemove[index].classList.remove('active');
                }
                reader.readAsDataURL(file);
                return;
            }
        })
    }

    $(document).ready(function() {
        $('.quantity-input').bind("cut copy paste drag drop", function(e) {
            e.preventDefault();
        });     
    });

    function isNumberKey(e) {
        var charCode = (e.which) ? e.which : e.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    
    function checksrcImage(arrayImage) {
        for(var i = 0; i < arrayImage.length; i++)
        {
            if (arrayImage[i].naturalWidth === 0) {
                return false;
            }
        }
        return true;
    }

    function bidingData() {
        var imageApi = `http://localhost:3000/admin/api/image`;
        
        $('.btn-tr').click(function() {
            btnLoader.classList.remove('hide');
            _id = $(this).find('th').text();
            let item =  $(this).find('td');
            for(var i = 0; i < item.length; i++)
            {
                arrayData.push($(item[i]).text());
            }
            
            document.getElementById('ID').value = _id;
            document.getElementById('name').value = arrayData[0];
            document.getElementById('time').value = arrayData[1];
            document.getElementById('startdate').value = arrayData[2];
            document.getElementById('enddate').value = arrayData[3];

            arrayData.splice(0, 5);

            fetch(imageApi)
                .then(function(response) {
                    return response.json();
                })
                .then(function(result) {
                    result.forEach(element => {
                        if(element.movieId === _id)
                        {
                            OpenImage();
                            $('#item-1').attr('src', element.poster1);
                            $('#item-2').attr('src', element.poster2);
                            $('#item-3').attr('src', element.poster3);
                            $('#item-4').attr('src', element.poster4);
                            return;
                        }
                    });
                })
                .catch(function(err){
                    console.log(err);
                });

            var dataApi = `http://localhost:3000/admin/api/data/${_id}`;

            fetch(dataApi)
                .then(function(response) {
                    return response.json();
                })
                .then(function(result) {
                    document.getElementById('specific').value = result.specific;
                    document.getElementById('describe').value = result.describe;
                    document.getElementById('category').value = result.category;
                    document.getElementById('directors').value = result.directors;
                    document.getElementById('mainActor').value = result.mainActor;
                    OpenVideo();
                    document.getElementById('trailer').src = result.trailer;
                    btnLoader.classList.add('hide');
                    return;
                })
                .catch(function(err){
                    console.log(err);
                });

         })
    }


    function BtnRemove(idMovie) {
        var imageApi = `http://localhost:3000/admin/api/deleteMoive`;

        var options = {
                        method: 'POST',
                        headers: {
                        'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ idMovie }),
                    }

        fetch(imageApi, options)
            .then(function(response) {
                    return response.json();
                })
            .then(function(result) {
                callApiAdmin();
            })
            .catch(function(err){
                    console.log(err);
                });
    }

    function checkVideo()
    {
        let videoSrc = document.getElementById('trailer');
        if(videoSrc.videoWidth === 0)
            return false;
        else
            return true;
    }
    

    function SubmitForm(e) {
        let arrayImage = document.getElementsByClassName('poster-item-img');
        let startdate = document.getElementById('startdate').value;

        if(!checksrcImage(arrayImage))
        {
            $('html,body').animate({ scrollTop: 18 }, 'slow');
            e.preventDefault();
        }
        else if(checkVideo() === false)
        {
            e.preventDefault();
        }
        else{
                Validator ({
                form: '#more-film_form',
                formGroupSelector: '.form-group',
                errorSelector: '.form-message',
                rules: [
                    Validator.isRequired('#ID', 'Tên film không được trống!'),
                    Validator.isRequired('#name', 'Tên film không được trống!'),
                    Validator.isRequired('#specific', 'Đặc tả không được trống!'),
                    Validator.isRequired('#describe', 'Mô tả không được trống!'),
                    Validator.isRequired('#time', 'Thời lượng được trống!'),
                    Validator.isRequired('#startdate', 'Bạn chưa chọn ngày CC!'),
                    Validator.isCheckDate('#startdate', 'Ngày CC phải lớn hơn ngày hiện tại!'),
                    Validator.isRequired('#enddate', 'Bạn chưa chọn ngày KT!'),
                    Validator.isCheck2Date('#enddate', startdate, 'Ngày KT phải lớn hơn ngày CC!'),
                    Validator.isRequired('#category', 'Không được trống!'),
                    Validator.isRequired('#directors', 'Không được trống!'),
                    Validator.isRequired('#mainActor', 'Không được trống!'),
                    
                ],
                onSubmit: function (data) { 
                    btnLoader.classList.remove('hide');
                    const imageData = {
                        poster1: document.querySelector('.item-1').src,
                        poster2: document.querySelector('.item-2').src,
                        poster3: document.querySelector('.item-3').src,
                        poster4: document.querySelector('.item-4').src,
                    }
                    const videoData = document.querySelector('#trailer').src;

                    var options = {
                        method: 'POST', // or 'PUT'
                        headers: {
                        'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(formData = {
                            data,
                            imageData,
                            videoData
                        }),
                    }

                    fetch(`http://localhost:3000/admin/movies`, options)
                        .then(function(response) {
                            return response.json();
                        })
                        .then(function(result) {
                           if(result === true)
                           {
                                btnLoader.classList.add('hide');
                                location.reload();
                           }
                                
                        })
                        .catch(function(err){
                                console.log(err);
                        });
                }
            });
        }
    }

</script>
