<section class="cinema-system">
    <div class="container">
        <h3>Hệ Thống Rạp Phim</h3>
        <div id="cinema__list" class="cinema-sys__list">
        </div>
    </div>
</section>
<script>
        getInfo(renderInfo);

        function getInfo(callback) {
        fetch('http://localhost:3000/cinemas/api/data')
        .then(function(response) {
            return response.json();
        })
        .then(callback)
        .catch(function(err){
            console.log(err);
        });
      }

            function renderInfo(datas)
            {
            var listCinemas = document.querySelector('#cinema__list');
            var htmls = datas.map(function(data) {
                return `
                    <a href="/cinema-view?id=${data.id}&name=${data.nameTheater}" style="text-decoration: none;">
                        <div class="list_card">
                            <div class="card__image">
                                <img src="image/cgv-logo.png" alt="">
                                <h4>${data.nameTheater.substr(4, data.nameTheater.lenght)}</h4>
                            </div>
                            <ul class="card__info">
                                <li>${data.subAddress}</li>
                                <li>Phòng chiếu ${data.typeTheater}</li>
                            </ul>
                        </div>
                    </a>
                `;
            });
            listCinemas.innerHTML = htmls.join('');
        }
</script>