<section class="cinema-system">
    <div class="container">
        <h3>Hệ Thống Rạp Phim</h3>
        <div id="cinema__list" class="cinema-sys__list">
            <a href="#" style="text-decoration: none;">
                <div class="list_card">
                    <div class="card__image">
                        <img src="image/cgv-logo.png" alt="">
                        <h4>THPT Quang Trung</h4>
                    </div>
                    <ul class="card__info">
                        <li>Đức Linh - Bình Thuận</li>
                        <li>Phòng chiếu 3D</li>
                    </ul>
                </div>
            </a>
            <a href="#" style="text-decoration: none;">
                <div class="list_card">
                    <div class="card__image">
                        <img src="image/cgv-logo.png" alt="">
                        <h4>KHTN CS 1</h4>
                    </div>
                    <ul class="card__info">
                        <li>Quận 5 - Tp.Hồ Chí Minh</li>
                        <li>Phòng chiếu 4DX</li>
                    </ul>
                </div>
            </a>
            <a href="#" style="text-decoration: none;">
                <div class="list_card">
                    <div class="card__image">
                        <img src="image/cgv-logo.png" alt="">
                        <h4>Centerpoint Hà Nội</h4>
                    </div>
                    <ul class="card__info">
                        <li>Thanh Xuân - Hà Nội</li>
                        <li>Phòng chiếu PREMIUM</li>
                    </ul>
                </div>
            </a>
            <a href="#" style="text-decoration: none;">
                <div class="list_card">
                    <div class="card__image">
                        <img src="image/cgv-logo.png" alt="">
                        <h4>Vincom Center Đồng Khởi</h4>
                    </div>
                    <ul class="card__info">
                        <li>Quận 1 - Tp.Hồ Chí Minh</li>
                        <li>Phòng chiếu STD</li>
                    </ul>
                </div>
            </a>
            <a href="#" style="text-decoration: none;">
                <div class="list_card">
                    <div class="card__image">
                        <img src="image/cgv-logo.png" alt="">
                        <h4>Giga Mall Thủ Đức</h4>
                    </div>
                    <ul class="card__info">
                        <li>Thủ Đức - Tp.Hồ Chí Minh</li>
                        <li>Phòng chiếu 2D</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</section>