
 
    <!-- section advertisements -->
    <section class="section--advertisement">
        <div class="background-advertisement">
            <div id="stars"></div>
            <div id="stars2"></div>
            <div id="stars3"></div>
        </div>
        <div class="content-advertisement">
            <div class="content-title">  
                <h2><i class="fa fa-angle-double-right"></i> COMMING SOON <i class="fa fa-angle-double-left"></i><h3> Marvel Studios' Loki - Trailler </h3></h2>
                <div class="describe">
                    26 tháng 3 năm 2021 Đoạn giới thiệu mới của GODZILLA VS KONG 2021 ở 4K 60FPS Godzilla vs. Kong là một bộ phim quái vật sắp tới của Mỹ do Adam Wingard đạo diễn. Là phần tiếp theo của Godzilla: King of the Monsters và Kong: Skull Island, đây là bộ phim thứ tư trong MonsterVerse của Legendary. 
                    <a href="" style="font-family: 'Roboto', sans-serif; font-weight: 500; color: #54ab35; margin-left: 10px;">Mua vé ngay &#10141;</a>
                </div>
            </div>
            <div class="content-video-trailler">
                <video class="clip" loop src="image/TraillerMarvel.mp4" type="video/mp4" controls autoplay></video>
            </div>
        </div>
        <div class="content-poster">
            <div class="slider">
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1"> 
                    <input type="radio" name="radio-btn" id="radio2"> 
                    <input type="radio" name="radio-btn" id="radio3"> 
                    <div class="slide first">
                        <img src="image/poster-1.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="image/poster-2.jpg" alt="">
                        </div>
                        <div class="slide">
                            <img src="image/poster-3.jpg" alt="">
                        </div>
                        <div class="navigation-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                        </div>
                </div>
                <div class="navigation-manual">
                    <label for="radio1" class="btn-manual"></label>
                    <label for="radio2" class="btn-manual"></label>
                    <label for="radio3" class="btn-manual"></label>
                </div>
            </div>
        </div>
    </section>
    <!-- Movie Schedule -->
    <section id="latest">
        <div class="title-product">
            <h3 data-target="#list_film_1" class="btn-view active">Phim Đang Chiếu</h3>
            <h3 data-target="#list_film_2" >Movie Coming Soon</h3>
        </div>
        <div class="list__film active" id="list_film_1">
            <ul id="autoWidth2" class="cs-hidden">
                <li class="item-a">
                    <div class="latest-box">
                        <div class="latest-b-img">
                            <img src="image/m-1.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="contentBx">
                                <h3>August 31<br><span>No Force Is Stronger Than Family</span></h3>
                                <p>Khởi chiếu: August 31, 2021</p>
                            </div>
                        </div>
                        <div class="btn-card">
                            <a href="#" class="btn">Mua Vé</a>
                        </div>
                    </div>
                </li>
                <li class="item-b">
                    <div class="latest-box">
                        <div class="latest-b-img">
                            <img src="image/m-2.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="contentBx">
                                <h3>Bán Đảo Peninsula<br><span>Train To Busan Presents</span></h3>
                                <p>Khởi chiếu: 29/12/2020</p>
                            </div>
                        </div>
                        <div class="btn-card">
                            <a href="#" class="btn">Mua Vé</a>
                        </div>
                    </div>
                </li>
                <li class="item-c">
                    <div class="latest-box">
                        <div class="latest-b-img">
                            <img src="image/m-3.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="contentBx">
                                <h3>Inception<br><span>The Dream Is Real</span></h3>
                                <p>Khởi chiếu: 21/08/2020</p>
                            </div>
                        </div>
                        <div class="btn-card">
                            <a href="#" class="btn">Mua Vé</a>
                        </div>
                    </div>
                </li>
                <li class="item-d">
                    <div class="latest-box">
                        <div class="latest-b-img">
                            <img src="image/m-4.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="contentBx">
                                <h3>IRon Man<br><span>Vũ trụ Marvel</span></h3>
                                <p>Khởi chiếu: 23/12/2020</p>
                            </div>
                        </div>
                        <div class="btn-card">
                            <a href="#" class="btn">Mua Vé</a>
                        </div>
                    </div>
                </li>
                <li class="item-e">
                    <div class="latest-box">
                        <div class="latest-b-img">
                            <img src="image/m-5.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="contentBx">
                                <h3>VeNom<br><span>Đối Mặt Tử Thù</span></h3>
                                <p>Khởi chiếu: 24/9/2021</p>
                            </div>
                        </div>
                        <div class="btn-card">
                            <a href="#" class="btn">Mua Vé</a>
                        </div>
                    </div>
                </li>
                <li class="item-f">
                    <div class="latest-box">
                        <div class="latest-b-img">
                            <img src="image/m-6.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="contentBx">
                                <h3>Aquaman<br><span>Đế Vương Atlantis</span></h3>
                                <p>Khởi chiếu: 23/12/2020</p>
                            </div>
                        </div>
                        <div class="btn-card">
                            <a href="#" class="btn">Mua Vé</a>
                        </div>
                    </div>
                </li>
                <li class="item-g">
                    <div class="latest-box">
                        <div class="latest-b-img">
                            <img src="image/m-7.jpeg" alt="">
                        </div>
                        <div class="content">
                            <div class="contentBx">
                                <h3>Jungle Cruise<br><span>Cuộc Phiêu Lưu Của Cuộc Đời</span></h3>
                                <p>Khởi chiếu: July 24, 2020</p>
                            </div>
                        </div>
                        <div class="btn-card">
                            <a href="#" class="btn">Mua Vé</a>
                        </div>
                    </div>
                </li>
              </ul>
        </div>
        <div class="list__film" id="list_film_2">
          <ul id="autoWidth" class="cs-hidden">
            <li class="item-a">
                <div class="latest-box">
                    <div class="latest-b-img">
                        <img src="image/m-1.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="contentBx">
                            <h3>Đè bóng<br><span>Bóng má ákaskfaw</span></h3>
                            <p>Khởi chiếu: 14/5/2021</p>
                        </div>
                    </div>
                    <div class="btn-card">
                        <a href="#" class="btn">Mua Vé</a>
                    </div>
                </div>
            </li>
            <li class="item-b">
                <div class="latest-box">
                    <div class="latest-b-img">
                        <img src="image/m-2.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="contentBx">
                            <h3>Bóng Đè<br><span>Giờ lành đã điểm</span></h3>
                            <p>Khởi chiếu: 14/5/2021</p>
                        </div>
                    </div>
                    <div class="btn-card">
                        <a href="#" class="btn">Mua Vé</a>
                    </div>
                </div>
            </li>
            <li class="item-c">
                <div class="latest-box">
                    <div class="latest-b-img">
                        <img src="image/m-3.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="contentBx">
                            <h3>Bóng Đè<br><span>Giờ lành đã điểm</span></h3>
                            <p>Khởi chiếu: 14/5/2021</p>
                        </div>
                    </div>
                    <div class="btn-card">
                        <a href="#" class="btn">Mua Vé</a>
                    </div>
                </div>
            </li>
            <li class="item-d">
                <div class="latest-box">
                    <div class="latest-b-img">
                        <img src="image/m-4.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="contentBx">
                            <h3>Bóng Đè<br><span>Giờ lành đã điểm</span></h3>
                            <p>Khởi chiếu: 14/5/2021</p>
                        </div>
                    </div>
                    <div class="btn-card">
                        <a href="#" class="btn">Mua Vé</a>
                    </div>
                </div>
            </li>
            <li class="item-e">
                <div class="latest-box">
                    <div class="latest-b-img">
                        <img src="image/m-5.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="contentBx">
                            <h3>Bóng Đè<br><span>Giờ lành đã điểm</span></h3>
                            <p>Khởi chiếu: 14/5/2021</p>
                        </div>
                    </div>
                    <div class="btn-card">
                        <a href="#" class="btn">Mua Vé</a>
                    </div>
                </div>
            </li>
          </ul>
        </div>  
    </section>
    <!-- banner promotion -->
    <section class="section-promotion">
        <div class="promotion-slider">
         <!-- fade css -->
         <div class="myslider">
             <img src="image/banner-1.jpg" style="width: 100%; height: 100%;">
         </div>
         
         <div class="myslider">
             <img src="image/banner-2.jpg" style="background-size:cover; width: 100%; height: 100%;">
         </div>
         
         <div class="myslider">
             <img src="image/banner-3.jpg" style="background-size:cover; width: 100%; height: 100%;">
         </div>
         
         <div class="myslider">
             <img src="image/banner-4.jpg" style="background-size:cover; width: 100%; height: 100%;">
         </div>
         
         <div class="myslider">
             <img src="image/banner-5.jpg" style="background-size:cover; width: 100%; height: 100%;">
         </div>
         <!-- onclick js -->
         <a class="btn-prev" onclick="plusSlides(-1)" style="color:  #54ab35;">&#10094;</a>
           <a class="btn-next" onclick="plusSlides(1)" style="color: #54ab35;">&#10095;</a>
         
         <div class="dotsbox" style="text-align:center">
             <span class="dot" onclick="currentSlide(1)"></span>
             <span class="dot" onclick="currentSlide(2)"></span>
             <span class="dot" onclick="currentSlide(3)"></span>
             <span class="dot" onclick="currentSlide(4)"></span>
             <span class="dot" onclick="currentSlide(5)"></span>
         </div>
         <!-- /onclick js -->
         <script>
             var array = document.querySelectorAll('.myslider');
             console.log(document.querySelectorAll('.myslider'));
             console.log(array);
         </script>
     </div>
     </section>
     <script src="js/home.js"></script>

