<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- logo title -->
    <link rel = "icon" href = "image/logo.ico" type = "image/x-icon">
    <!-- link CSS-->
    <link rel="stylesheet" href="css/home.css">
    <!-- link bootstrap cdn 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- link icon -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <title>CGV Cinemas Việt Nam  &#8226;  Trang Chủ</title>
</head>
<body>
     <!-- header -->
     <header>
        <nav class="nav-header">
            <a href="/"><img class="logo" src="image/icon-bg.png" alt=""></a>
                <ul class="nav-links">
                    <li class="active"><a data-page="home" href="/" >Trang Chủ</a></li>
                    <li><a data-page="contact"  href="#">Cụm Rạp</a></li>
                    <li><a data-page="projects"  href="#">Lịch Chiếu</a></li>
                    <li><a data-page="contact"  href="#">Khuyến Mãi</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <div class="nav-login">
                    <a class="btn-dropmenu" style="color: aliceblue;" >Đăng Nhập</a>
                    <div class="dropdown_menu" >
                        <form method="POST" class="form-login" >
                            <div class="form-group">
                              <input type="email" class="input_text" placeholder="Email">
                            </div>
                            <div class="form-group">
                              <input type="password" class="input_text" placeholder="Password">
                            </div>
                            <div class="form-submit">
                                <button type="button" style="background: #54ab35;" class="btn btn-success">Đăng Nhập</button>
                                <a class="btn-link">Quên mật khẩu?</a>  
                            </div>
                            <a class="btn btn-reg" style="color: white; background: #54ab35;">Đăng Ký</a>
                          </form>
                    </div>
                </div>
        </nav>
    </header>
    <!-- section advertisement -->
    <section class="section--advertisement">
        <div class="background-advertisement">
            <div id="stars"></div>
            <div id="stars2"></div>
            <div id="stars3"></div>
        </div>
        <div class="content-advertisement">
            <div class="content-title">
                <h2><i class="fa fa-angle-double-right"></i> COMMING SOON <i class="fa fa-angle-double-left"></i><h3> Marvel Studios' Loki - Trailler </h3></h2>
                <div class="describe">
                    26 tháng 3 năm 2021 Đoạn giới thiệu mới của GODZILLA VS KONG 2021 ở 4K 60FPS Godzilla vs. Kong là một bộ phim quái vật sắp tới của Mỹ do Adam Wingard đạo diễn. Là phần tiếp theo của Godzilla: King of the Monsters và Kong: Skull Island, đây là bộ phim thứ tư trong MonsterVerse của Legendary. 
                    <a href="" style="font-family: 'Roboto', sans-serif; font-weight: 500; color: #54ab35; margin-left: 10px;">Mua vé ngay &#10141;</a>
                </div>
            </div>
            <div class="content-video-trailler">
                <video class="clip" loop src="image/TraillerMarvel.mp4" type="video/mp4" controls autoplay></video>
            </div>
        </div>
        <div class="content-poster">
            <div class="slider">
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1"> 
                    <input type="radio" name="radio-btn" id="radio2"> 
                    <input type="radio" name="radio-btn" id="radio3"> 
                    <div class="slide first">
                        <img src="image/poster-1.jpg" alt="">
                    </div>
                    <div class="slide">
                        <img src="image/poster-2.jpg" alt="">
                        </div>
                        <div class="slide">
                            <img src="image/poster-3.jpg" alt="">
                        </div>
                        <div class="navigation-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                        </div>
                </div>
                <div class="navigation-manual">
                    <label for="radio1" class="btn-manual"></label>
                    <label for="radio2" class="btn-manual"></label>
                    <label for="radio3" class="btn-manual"></label>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="js/home.js"></script>
</html>