
<section class="admin__revenue">
    
    <div class="option">
        <div class="group__option">
            <label>From date</label>
            <input id="fromdate" name="fromdate" type="date" class="input">
        </div>
        <div class="group__option">
            <label>To date</label>
            <input id="todate" name="todate" type="date" class="input">
        </div>
        <button class="btn btn-success btn-revenue-cinema" >Thống Kê</button>
    </div>
    <h3>Thống Kê Doanh Thu Theo Cụm Rạp</h3>
    <div class="content">
        <div class="top__left" style="width: 600px;">
            <canvas id="chart__revenue" ></canvas>
        </div>
        <div class="top__right"  style="width: 80%;">
            <canvas id="chart__ticket" ></canvas>
        </div>
    </div>
    <h3>Thống Kê Doanh Thu Theo Phim</h3>
    <div class="content">
        <div class="top__left" style="width: 600px;">
            <canvas id="f_chart__revenue" ></canvas>
        </div>
        <div class="top__right"  style="width: 80%;">
            <canvas id="f_chart__ticket" ></canvas>
        </div>
    </div>
</section>
<script src="../js/toastmesage.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        let massPopChart, massPopChart_1;
        var startDate, endDate;
        $('.btn-revenue-cinema').click(function() {
            if($('#fromdate').val() && $('#todate').val())
            {
                startDate = $('#fromdate').val();
                endDate = $('#todate').val();
                console.log(startDate, endDate);
                massPopChart.destroy();
                massPopChart_1.destroy();
                massPopChart_f.destroy();
                massPopChart_f1.destroy();
                getApiData(startDate, endDate);
                getApiDataMovie(startDate, endDate);
            }
            else {
                toast({
                    title: 'Warning!',
                    message: 'Bạn chưa chọn ngày phù hợp!!!',
                    type: 'warning',
                    duration: 3000
                });
            }
        
        })
        getApiData(startDate, endDate);
        getApiDataMovie(startDate, endDate);

        function getApiData(startDate, endDate) {
            fetch(`http://localhost:3000/admin/revenue/api?fromdate=${startDate}&todate=${endDate}`)
            .then(function(response) {
                return response.json();
            })
            .then(function (data) {
                
                var arrCinema = [];
                var arrPrice = [];
                var arrTicket = [];
                data.forEach(item => {
                    arrCinema.push(item.nameCinema.replace('CGV', ''));
                    arrPrice.push(item.totalPrice);
                    arrTicket.push(item.countTicket);
                });
                let chartRevenue = document.getElementById('chart__revenue').getContext('2d');
                let chartTicket = document.getElementById('chart__ticket').getContext('2d');

                Chart.defaults.font.size = 16;
                Chart.defaults.font.family = 'Lato';
                Chart.defaults.color =  '#a2b4c0';
                
                const COLORS = [
                    '#4dc9f6',
                    '#f67019',
                    '#f53794',
                    '#537bc4',
                    '#acc236',
                    '#166a8f',
                    '#00a950',
                    '#58595b',
                    '#8549ba'
                ];

                massPopChart = new Chart(chartRevenue, {
                    type: 'doughnut',
                    data: {
                        labels: arrCinema,
                        datasets:[{
                            data: arrPrice,
                            backgroundColor: COLORS,
                            hoverBorderWidth: 3,
                            hoverBorderColor: '#eee'
                        }]
                    },
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: 'Doanh Thu',
                            },
                            legend: {
                                position: 'right',
                            },
                        },
                    }
                });

                massPopChart_1 = new Chart(chartTicket, {
                    type: 'bar',
                    data: {
                        labels: arrCinema,
                        datasets:[{
                            label: 'Tổng Vé Bán Ra',
                            data: arrTicket,
                            backgroundColor: '#00a950',
                            hoverBorderWidth: 3,
                            hoverBorderColor: '#eee'
                        }],
                       
                    },
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: 'Vé Bán',
                            },
                        },
                    }
                });
            })
            .catch(function(err) {
                console.log(err);
            })
        }

        function getApiDataMovie(startDate, endDate) {
            fetch(`http://localhost:3000/admin/revenue-movie/api?fromdate=${startDate}&todate=${endDate}`)
            .then(function(response) {
                return response.json();
            })
            .then(function (data) {
                
                var arrMovie = [];
                var arrPrice = [];
                var arrTicket = [];
                data.forEach(item => {
                    arrMovie.push(item.nameMovie);
                    arrPrice.push(item.totalPrice);
                    arrTicket.push(item.countTicket);
                });
                let chartRevenue = document.getElementById('f_chart__revenue').getContext('2d');
                let chartTicket = document.getElementById('f_chart__ticket').getContext('2d');

                Chart.defaults.font.size = 16;
                Chart.defaults.font.family = 'Lato';
                Chart.defaults.color =  '#a2b4c0';
                
                const COLORS = [
                    '#4dc9f6',
                    '#f67019',
                    '#f53794',
                    '#537bc4',
                    '#acc236',
                    '#166a8f',
                    '#00a950',
                    '#58595b',
                    '#8549ba'
                ];

                massPopChart_f = new Chart(chartRevenue, {
                    type: 'doughnut',
                    data: {
                        labels: arrMovie,
                        datasets:[{
                            data: arrPrice,
                            backgroundColor: COLORS,
                            hoverBorderWidth: 3,
                            hoverBorderColor: '#eee'
                        }]
                    },
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: 'Doanh Thu',
                            },
                            legend: {
                                position: 'right',
                            },
                        },
                    }
                });

                massPopChart_f1 = new Chart(chartTicket, {
                    type: 'bar',
                    data: {
                        labels: arrMovie,
                        datasets:[{
                            label: 'Doanh Thu Vé Bán',
                            data: arrTicket,
                            backgroundColor: '#00a950',
                            hoverBorderWidth: 3,
                            hoverBorderColor: '#eee'
                        }]
                    },
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: 'Vé Bán',
                            },
                        },
                    }
                });
            })
            .catch(function(err) {
                console.log(err);
            })
        }
    })
  
</script>
