<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- logo title -->
    <link rel = "icon" href = "image/logo.ico" type = "image/x-icon">
    <!-- link CSS-->
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/sigup-login.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/sigup-login.css">
    <link rel="stylesheet" href="css/page404.css">
    <!-- link bootstrap cdn 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- link lightslider JQuery -->
    <link rel="stylesheet" href="css/lightslider.css">
    <script src="js/JQuery3.3.1.js"></script>
    <script src="js/lightslider.js"></script>
    <!-- link google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <!-- link icon -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <title>CGV Cinemas Việt Nam  &#8226; <%- title %></title>
</head>
<body>
    <%- include('auth/header.ejs') %>
    <%- body %>
    <%- include('auth/footer.ejs') %>
</body>
<script src="js/home.js"></script>
</html>