<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- logo title -->
    <link rel = "icon" href = "image/logo.ico" type = "image/x-icon">
    <!-- link CSS-->
    <%if (title === 'Thông Tin Cá Nhân') {%> 
      <link rel="stylesheet" href="../css/croppie.css" />
      <link rel="stylesheet" href="../css/home.css">
      <link rel="stylesheet" href="../css/profile.css"> 
    <% } else {%>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/sigup-login.css">
    <link rel="stylesheet" href="css/sigup-login.css">
    <link rel="stylesheet" href="css/page404.css">
    <link rel="stylesheet" href="css/admin.css">
    <% } %>
    <!-- link bootstrap cdn 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- link lightslider JQuery -->
    <link rel="stylesheet" href="css/lightslider.css">
    <script src="js/JQuery3.3.1.js"></script>
    <script src="js/lightslider.js"></script>
    <!-- link google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <!-- link icon -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <title>CGV Cinemas Việt Nam  &#8226; <%- title %></title>
</head>
<body>
    <div id="toast"></div>
    <div class="section-loader hide">
        <div class="loader">
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <span style="--i:4;"></span>
            <span style="--i:5;"></span>
            <span style="--i:6;"></span>
            <span style="--i:7;"></span>
            <span style="--i:8;"></span>
            <span style="--i:9;"></span>
            <span style="--i:10;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:13;"></span>
            <span style="--i:14;"></span>
            <span style="--i:15;"></span>
            <span style="--i:16;"></span>
            <span style="--i:17;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
        </div>
    </div>
    <%- title === 'Thông Tin Cá Nhân' ? '' : include('auth/header.ejs') %>
    <%- body %>
    <%- title === 'Admin' ? '' :  include('auth/footer.ejs') %>
</body>

</html>

