<section class="section-showtimes">
    <div class="tabs">
        <div class="tab-item active">
          Lịch Chiếu Theo Phim
        </div>
        <div class="tab-item">
          Lịch Chiếu Theo Rạp
        </div>
        <div class="line"></div>
      </div>

    <div class="tab-content">
        <div class="tab-pane active">
            <div id="sliderShowtime">  
                <div class="item item-a">
                    <div class="latest-show">
                        <div class="latest-b-img">
                            <img src="http://localhost:3000/api/image/F0xFWFI/1" alt="">
                        </div>
                        <div class="content-show">
                            <div class="contentShow">
                                <h3>MORTAL KOMBAT<br><span>CUỘC CHIẾN SINH TỬ</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="item item-b" valueId="F0xFWFI">
                <div class="latest-show">
                    <div class="latest-s-img">
                        <img src="http://localhost:3000/api/image/F0xFWFI/2" alt="">
                    </div>
                    <div class="content-show">
                        <div class="contentShow">
                            <h3>MORTAL KOMBAT<br><span>CUỘC CHIẾN SINH TỬ</span></h3>
                        </div>
                    </div>
                </div>
            </div>
                <div class="item item-a">
                    <div class="latest-show">
                        <div class="latest-b-img">
                            <img src="http://localhost:3000/api/image/F0xFWFI/3" alt="">
                        </div>
                        <div class="content-show">
                            <div class="contentShow">
                                <h3>MORTAL KOMBAT<br><span>CUỘC CHIẾN SINH TỬ</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-b">
                    <div class="latest-show">
                        <div class="latest-s-img">
                            <img src="http://localhost:3000/api/image/F0x7OV5/3" alt="">
                        </div>
                        <div class="content-show">
                            <div class="contentShow">
                                <h3>MORTAL KOMBAT<br><span>CUỘC CHIẾN SINH TỬ</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-a">
                    <div class="latest-show">
                        <div class="latest-b-img">
                            <img src="http://localhost:3000/api/image/F0x7OV5/1" alt="">
                        </div>
                        <div class="content-show">
                            <div class="contentShow">
                                <h3>MORTAL KOMBAT<br><span>CUỘC CHIẾN SINH TỬ</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-b">
                    <div class="latest-show">
                        <div class="latest-s-img">
                            <img src="http://localhost:3000/api/image/F0x7OV5/2" alt="">
                        </div>
                        <div class="content-show">
                            <div class="contentShow">
                                <h3>MORTAL KOMBAT<br><span>CUỘC CHIẾN SINH TỬ</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__times" id="slider__times">
                <div class="list--times tabs-item" id="list--times">
                    <div class="item item-time">
                        <span>Thứ 2</span>
                        <p class="times" valuetext="2021-6-19">19-6</p>
                    </div>
                    <div class="item item-time">
                        <span>Thứ 3</span>
                        <p class="times" valuetext="2021-6-19">19-6</p>
                    </div>
                    <div class="item item-time">
                        <span>Thứ 4</span>
                        <p class="times" valuetext="2021-6-19">19-6</p>
                    </div>
                    <div class="item item-time">
                        <span>Thứ 5</span>
                        <p class="times" valuetext="2021-6-19">19-6</p>
                    </div>
                    <div class="item item-time">
                        <span>Thứ 6</span>
                        <p class="times" valuetext="2021-6-19">19-6</p>
                    </div>
                    <div class="item item-time">
                        <span>Thứ 7</span>
                        <p class="times" valuetext="2021-6-19">19-6</p>
                    </div>
                    <div class="item item-time">
                        <span>CN</span>
                        <p class="times" valuetext="2021-6-19">19-6</p>
                    </div>
                    <div class="item item-time">
                        <span>Thứ 2</span>
                        <p class="times" valuetext="2021-6-19">19-6</p>
                    </div>
                    <div class="item item-time">
                        <span>Thứ 3</span>
                        <p class="times" valuetext="2021-6-19">19-6</p>
                    </div>
                    <div class="item item-time">
                        <span>Thứ 4</span>
                        <p class="times" valuetext="2021-6-19">19-6</p>
                    </div>
                    <div class="item item-time">
                        <span>Thứ 5</span>
                        <p class="times" valuetext="2021-6-19">19-6</p>
                    </div>
                </div>
                <div class="item-tabcontent">
                    <div class="item-tabpane">
                        <div class="tab__content">
                            <h4 style="display: flex; justify-content: center;">PHIM CHƯA BÁN VÉ</h4>
                        </div>
                    </div>
                    <div class="item-tabpane">
                        <div class="list__cinema tabs__cinema-item">
                            <div class="item__cinema active">CGV THPT Quang Trung</div>
                            <div class="item__cinema">CGV KHTN Hà Nội</div>
                            <div class="item__cinema">CGV Centerpoint Hà Nội</div>
                            <div class="item__cinema">CGV KHTN CS 2</div>
                            <div class="item__cinema">CGV KHTN CS 1</div>
                        </div>
                        <div class="cinema-item__tabpane">
                            <div class="item__time-cinema active">
                                <a href="#" class="btn-sumit">11:30</a>
                                <a href="#" class="btn-sumit">13:30</a>
                                <a href="#" class="btn-sumit">16:30</a>
                                <a href="#" class="btn-sumit">20:00</a>
                                <a href="#" class="btn-sumit">23:00</a>
                            </div>
                            <div class="item__time-cinema"><a href="#" class="btn-sumit">12:30</a></div>
                            <div class="item__time-cinema"><a href="#" class="btn-sumit">15:30</a></div>
                            <div class="item__time-cinema"><a href="#" class="btn-sumit">17:30</a></div>
                            <div class="item__time-cinema"><a href="#" class="btn-sumit">20:30</a></div>
                        </div>
                    </div>
                    <div class="item-tabpane">
                        <div class="tab__content">
                            <h4 style="display: flex; justify-content: center;">PHIM CHƯA BÁN VÉ</h4>
                        </div>
                    </div>
                    <div class="item-tabpane">
                        <div class="tab__content">
                            <h4 style="display: flex; justify-content: center;">PHIM CHƯA BÁN VÉ</h4>
                        </div>
                    </div>
                    <div class="item-tabpane">
                        <div class="tab__content">
                            <h4 style="display: flex; justify-content: center;">PHIM CHƯA BÁN VÉ</h4>
                        </div>
                    </div>
                    <div class="item-tabpane">
                        <div class="tab__content">
                            <h4 style="display: flex; justify-content: center;">PHIM CHƯA BÁN VÉ</h4>
                        </div>
                    </div>
                    <div class="item-tabpane">
                        <div class="tab__content">
                            <h4 style="display: flex; justify-content: center;">PHIM CHƯA BÁN VÉ</h4>
                        </div>
                    </div>
                    <div class="item-tabpane">
                        <div class="tab__content">
                            <h4 style="display: flex; justify-content: center;">PHIM CHƯA BÁN VÉ</h4>
                        </div>
                    </div>
                    <div class="item-tabpane">
                        <div class="tab__content">
                            <h4 style="display: flex; justify-content: center;">PHIM CHƯA BÁN VÉ</h4>
                        </div>
                    </div>
                    <div class="item-tabpane">
                        <div class="tab__content">
                            <h4 style="display: flex; justify-content: center;">PHIM CHƯA BÁN VÉ</h4>
                        </div>
                    </div>
                    <div class="item-tabpane">
                        <div class="tab__content">
                            <h4 style="display: flex; justify-content: center;">PHIM CHƯA BÁN VÉ</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane">
          <h2>Angular</h2>
          <p>Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.</p>
        </div>
      </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>

    $(document).ready(function() {
        $('#sliderShowtime').slick({
            slidesToShow: 5,
            slidesToScroll: 3,
            arrows: true,
            infinite: false,
            responsive: [
                {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 2,
                }
                },
                {
                breakpoint: 845,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                }
                },
                {
                breakpoint: 600,
                    settings: { 
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
            ]
        });

        $('#list--times').slick({
                    slidesToShow: 10,
                    slidesToScroll: 3,
                    arrows: true,
                    infinite: false,
                    responsive: [
                        {
                        breakpoint: 845,
                        settings: {
                            slidesToShow: 5,
                            slidesToScroll: 1,
                        }
                        },
                        {
                        breakpoint: 600,
                            settings: {
                                slidesToShow: 4,
                                slidesToScroll: 3
                            }
                        },
                    ]
        });

        const a = document.querySelector.bind(document);
        const aa = document.querySelectorAll.bind(document);

        const tabs = aa(".tab-item");
        const panes = aa(".tab-pane");
        const itemtabs = aa(".list--times .item");
        const itempanes = aa(".item-tabpane");
        const itemTimetabs = aa(".tabs__cinema-item .item__cinema");
        const itemTimepanes = aa(".item__time-cinema");

        const tabActive = a(".tab-item.active");
        const line = a(".tabs .line");

        line.style.left = tabActive.offsetLeft + "px";
        line.style.width = tabActive.offsetWidth + "px";

        tabs.forEach((tab, index) => {
            const pane = panes[index];

            tab.onclick = function () {
                a(".tab-item.active").classList.remove("active");
                a(".tab-pane.active").classList.remove("active");

                line.style.left = this.offsetLeft + "px";
                line.style.width = this.offsetWidth + "px";

                this.classList.add("active");
                pane.classList.add("active");
            };
        });

        itemtabs.forEach((tab, index) => {
            const itempane = itempanes[index];

            tab.onclick = function () {
                $(this).addClass("active").siblings().removeClass("active");   
                $(".item-tabpane").addClass("active").siblings().removeClass("active");

                this.classList.add("active");
                itempane.classList.add("active");
            };
        });

        itemTimetabs.forEach((tab, index) => {

            const itemTimepane = itemTimepanes[index];

            tab.onclick = function () {
                $(this).addClass("active").siblings().removeClass("active");   
                $(".item__time-cinema").addClass("active").siblings().removeClass("active");

                this.classList.add("active");
                itemTimepane.classList.add("active");
            };
        });

        $("#sliderShowtime .item").click(function () {
            $('.latest-show').removeClass("active");
            $(this).find('.latest-show').addClass("active");
            $('.slider__times').css("opacity", "1");
            $('#list--times .item').removeClass("active");
            $('html,body').animate({ scrollTop: 145.60000610351562 }, 'slow');
            // console.log($(this).attr('valueId'));
            // fetch(`http://localhost:3000/showtimes/api/F0xFWFI`)
            //     .then(function(response) {
            //         return response.json();
            //     })
            //     .then(function(result) {

            //         var htmls = result.map(function(data) {
            //         return `
            //         <div class="item-tabpane">
            //             <div class="list__cinema">
            //                 <div class="item__cinema active">${data.id}</div>
            //                 <div class="item__cinema">${data.movieName}</div>
            //             </div>
            //         </div>
            //         `;
            //     });
            //         document.querySelector('.item-tabcontent').innerHTML = htmls.join('');
            //     })
            //     .catch(function(err){
            //                 console.log(err);
            //         });
        });

        $(".item__cinema").click(function () { 
            $(this).addClass("active").siblings().removeClass("active");   
        });
    });

</script>