<section class="section-showtimes">
    <div class="tabs"> 
        <div class="tab-item active">
          Lịch Chiếu Theo Phim
        </div>
        <div class="tab-item">
          Lịch Chiếu Theo Rạp
        </div>
        <div class="line"></div>
    </div>

    <div class="tab-content" id="tab-content">
        <div class="tab-pane tab__movie-showtimes active">
            <div id="sliderShowtime" id="sliderShowtime">  
            </div>
            <div class="slider__times" id="slider__times">
                <div class="list--times tabs-item" id="list--times">
                </div>
                <div class="item-tabcontent" id="item-tabcontent">
                </div>
            </div>
        </div>  
        <div class="tab-pane">
            <div class="container">
                <ul class="place" id="place__district">
                </ul>
                <div class="place-content" id="place-content">
                </div>
            </div>
            <div class="slider__place" id="slider__place">
                <div class="list__place tabs__place-item" id="list__place">
                </div>
                <div class="tabs__place-content" id="tabs__place-content">
                </div>
            </div>
          
        </div>
      </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="js/showtimes.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (event) => {
        var userId = '<%= currentUser?.code %>'
        loadPage(userId);
    });
</script>