
<section class="content-reg">
    <div class="background-advertisement">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </div>
    <div class="container">
        <div class="title-product">
            <h3 class="btn-view active" style="font-size: 25px;">Thành Viên</h3>
            <h3 style="font-size: 25px;">Quy Định</h3>
        </div>
        <div class="reg-content">
            <div class="reg-form">
                <div class="title">
                    Đăng Ký Mới
                  </div>
                    <form class="form" action="" method="POST" id="form-register">
                        <div class="form-group invalid">
                            <label>Họ Tên</label>
                            <div class="input-text">
                                <input id="fullname" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>  
                        <div class="form-group">
                            <label>Email</label>
                            <div class="input-text">
                                <input id="email" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>  
                        <div class="form-group">
                            <label>Mật Khẩu</label>
                            <div class="input-text">
                                <input id="password" type="password" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>  
                        <div class="form-group">
                            <label>Xác Nhận Mật Khẩu</label>
                            <div class="input-text">
                                <input id="c_password" type="password" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label>Số Điện Thoại</label>
                            <div class="input-text">
                                <input id="numberphone" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div> 
                        <div class="form-group terms" style="margin: 0;">
                            <label class="check">
                            <input id="checked" type="checkbox">
                            <span class="checkmark"></span>
                            </label>
                            <p>Đồng ý với các điều khoản và điều kiện</p>
                        </div> 
                        <span class="form-message"></span>
                        <div class="form-group">
                        <input type="submit" value="Register" class="btn form-submit">
                        </div>
                    </form>
                </div>
            <div class="reg-advertisements">
                <div class="content-poster">
                    <div class="slider">
                        <div class="slides">
                            <input type="radio" name="radio-btn" id="radio1"> 
                            <input type="radio" name="radio-btn" id="radio2"> 
                            <input type="radio" name="radio-btn" id="radio3"> 
                            <div class="slide first">
                                <img src="image/promotion-1.jpg" alt="">
                            </div>
                            <div class="slide">
                                <img src="image/promotion-2.jpg" alt="">
                                </div>
                                <div class="slide">
                                    <img src="image/promotion-3.jpg" alt="">
                                </div>
                                <div class="navigation-auto">
                                    <div class="auto-btn1"></div>
                                    <div class="auto-btn2"></div>
                                    <div class="auto-btn3"></div>
                                </div>
                        </div>
                        <div class="navigation-manual">
                            <label for="radio1" class="btn-manual"></label>
                            <label for="radio2" class="btn-manual"></label>
                            <label for="radio3" class="btn-manual"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/register.js"></script>
    <script>
        $(document).on('click', '.title-product h3', function(){
    $(this).addClass('active').siblings().removeClass('active');
});

var counter = 1;
   setInterval(function(){
    document.getElementById('radio' + counter).checked = true;
    counter++;
    if(counter > 3)
    {
        counter = 1;
    }
}, 3500);

document.addEventListener('DOMContentLoaded', function () {
      // Mong muốn của chúng ta
      Validator ({
        form: '#form-register',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
          Validator.isRequired('#fullname', 'Họ tên không được trống!'),
          Validator.isRequired('#email', 'Email không được trống!'),
          Validator.isEmail('#email'),
          Validator.isRequired('#numberphone', 'Số điện thoại không được trống!'),
          Validator.minLength('#password', 8),
          Validator.isRequired('#c_password', 'Vui lòng nhập trường này!'),
          Validator.isConfirmed('#c_password', function () {
            return document.querySelector('#form-register #password').value;
          }, 'Mật khẩu nhập lại không chính xác')
        ],
        onSubmit: function (data) {
          console.log(data);
        }
      });
    });

    </script>
</section>
 