
<div id="alert" class="noti-alert hide">
    <span class="fas fa-check-circle"></span>
    <span class="msg"><%- message %></span>
    <span class="hide-btn">
        <span class="fas fa-times"></span>
    </span>
</div>

<div id="alert-1" class="sucess-alert hide">
    <span class="fas fa-exclamation-circle"></span>
    <span class="msg"><%- message %></span>
    <span class="hide-btn">
        <span class="fas fa-times"></span>
    </span>
</div>


<script>
    var error = `<%- error %>`;
    window.onload = (event) => {
        if(error === "true")
        { 
            console.log('đã tồn tại!');
            document.getElementById("alert").classList.remove("hide");
            document.getElementById("alert").className += " show";
            document.getElementById("alert").className += " showAlert"; 
            setTimeout(function() {
                    $('.noti-alert').addClass("hide");
                    $('.noti-alert').removeClass("show");
            },3000);
            var Buttonelement = document.querySelector('.hide-btn');

            Buttonelement.addEventListener("click", function(){ 
                document.getElementById("alert").classList.remove("show");
                document.getElementById("alert").className += " hide";
            });
        }
        else if(error === "false") {
            document.getElementById("alert-1").classList.remove("hide");
            document.getElementById("alert-1").className += " show";
            document.getElementById("alert-1").className += " showAlert"; 
            setTimeout(function() {
                    $('.sucess-alert').addClass("hide");
                    $('.sucess-alert').removeClass("show");
            },3000);
            var Buttonelement = document.querySelector('.hide-btn');

            Buttonelement.addEventListener("click", function(){ 
                document.getElementById("sucess-alert").classList.remove("show");
                document.getElementById("sucess-alert").className += " hide";
            });
        }
    };
</script>


<section class="content-reg">
    <div class="background-advertisement">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </div>
    <div class="container">
        <div class="title-product">
            <h3 class="btn-view active" style="font-size: 25px;">Thành Viên</h3>
            <h3 style="font-size: 25px;">Quy Định</h3>
        </div>
        <div class="reg-content">
            <div class="reg-form">
                <div class="title">
                    Đăng Ký Mới
                  </div>
                    <form class="form" method="POST" action="/reg/dang-ky" id="form-register">
                        <div class="form-group invalid">
                            <label>Họ Tên</label>
                            <div class="input-text">
                                <input id="fullname" name="fullname" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>  
                        <div class="form-group">
                            <label>Email</label>
                            <div class="input-text">
                                <input id="email" name="email" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>  
                        <div class="form-group">
                            <label>Mật Khẩu</label>
                            <div class="input-text">
                                <input id="password"  name="password"  type="password" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div>  
                        <div class="form-group">
                            <label>Xác Nhận Mật Khẩu</label>
                            <div class="input-text">
                                <input id="c_password" type="password" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label>Số Điện Thoại</label>
                            <div class="input-text">
                                <input id="numberphone" name="numberphone" type="text" class="input">
                                <span class="form-message"></span>
                            </div>
                        </div> 
                        <div class="form-group terms" style="margin: 0;">
                            <label class="check">
                            <input id="checked" type="checkbox">
                            <span class="checkmark"></span>
                            </label>
                            <p>Đồng ý với các điều khoản và điều kiện</p>
                            <span class="form-message" style="color: #FFCC00; position: absolute;margin-bottom: 3px; bottom: 0px; font-size: 14px;"></span>
                        </div> 
                        <div class="form-group">
                        <button type="submit" class="btn form-submit">Đăng Ký</button>
                        </div>
                    </form>
                </div>
            <div class="reg-advertisements">
                <div class="content-poster">
                    <div class="slider">
                        <div class="slides">
                            <input type="radio" name="radio-btn" id="radio1"> 
                            <input type="radio" name="radio-btn" id="radio2"> 
                            <input type="radio" name="radio-btn" id="radio3"> 
                            <div class="slide first">
                                <img src="image/promotion-1.jpg" alt="">
                            </div>
                            <div class="slide">
                                <img src="image/promotion-2.jpg" alt="">
                                </div>
                                <div class="slide">
                                    <img src="image/promotion-3.jpg" alt="">
                                </div>
                                <div class="navigation-auto">
                                    <div class="auto-btn1"></div>
                                    <div class="auto-btn2"></div>
                                    <div class="auto-btn3"></div>
                                </div>
                        </div>
                        <div class="navigation-manual">
                            <label for="radio1" class="btn-manual"></label>
                            <label for="radio2" class="btn-manual"></label>
                            <label for="radio3" class="btn-manual"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/validateform.js"></script>
    <script>
     $(document).on('click', '.title-product h3', function(){
        $(this).addClass('active').siblings().removeClass('active');
    });

    var counter = 1;
    setInterval(function(){
        document.getElementById('radio' + counter).checked = true;
        counter++;
        if(counter > 3)
        {
            counter = 1;
        }
    }, 3500);

    document.addEventListener('DOMContentLoaded', function () {
      Validator ({
        form: '#form-register',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
          Validator.isRequired('#fullname', 'Họ tên không được trống!'),
          Validator.isRequired('#email', 'Email không được trống!'),
          Validator.isEmail('#email'),
          Validator.isRequired('#numberphone', 'Số điện thoại không được trống!'),
          Validator.minLength('#password', 8),
          Validator.isRequired('#c_password', 'Vui lòng nhập trường này!'),
          Validator.isConfirmed('#c_password', function () {
            return document.querySelector('#form-register #password').value;
          }, 'Mật khẩu nhập lại không chính xác'),
          Validator.isRequired('#checked', 'Bạn chưa đồng ý với điều khoản!'),
        ]
      });
    });

    </script>
   
</section>


 