@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

.more-film {
    width: 100%;
    min-height: 70vh;
    height: auto;
    margin: 0;
    padding: 0;
    background: url('/image/bg-cinema-1.jpg');
    background-size: cover;
}

.more-film .more-film_form {
    display: flex;
    flex-direction: column;
    height: auto;
    background: #121825;
    border-radius: 5px;
}

.more-film_form .title {
    margin: 20px 0px;
    font-family: 'Limelight', cursive;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.form_poster {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form_poster-item {
    position: relative;
    width: 250px;
    height: 300px;
    margin: 10px;
    list-style: none;
    border: 1px solid #54ab35;
}

.form_poster-item .poster-item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-style: none;
    opacity: 0;
}

.form_poster-item .poster-item-img.show {
    opacity: 1;
}


.form_poster-item .item-btn i{
    position: absolute;
    top: 37%;
    left: 45%;
    font-size: 50px;
    border-radius: 50%;
    color: #54ab35;
}

.form_poster-item .item-btn .fal.active {
   display: none;
}

.form_poster-item .item-btn:hover i{
    opacity: 0.8;
}

.disp-none {
    display: none;
}

.form_poster-item .close-btn .fal{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 25px;
    color: #ff0000;
    font-weight: 600;
    opacity: 0.8;
}

.form_poster-item .close-btn .fal:hover {
    opacity: 1;
}

.form_poster-item .close-btn .fal.active {
    display: none;
}



.form_movies-content {
    display: flex;
    align-items: center;
}

.form_movies-content-left {
    width: 45%;
    height: auto;
}

.form_movies-content-left .form {
    width: 90%;
    height: 100%;
    color: #a6b2c9;
    margin: 20px;

}

.form .btn {
    color: #fff;
    background: #54ab35;
    float: right;
    margin: 10px 10px;
}

.form .btn:hover {
    opacity: 0.7;
}

.form .form-group .input-text
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form .date-picker {
    display: flex;
    justify-content: space-around;
}

.form .date-picker .date-form {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

 .id-film {
    display: flex;
    justify-content: space-around;
}

.id-film .form-group {
    width: 50%;
    margin: 5px;
}

.form-group .input {
    font-family: 'Roboto', sans-serif;
    background: #37424b;
    font-weight: bold;
    color: #a6b2c9;
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.datagrid-movies {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datagrid-movies .datagrid__header
{
    margin: 20px 0px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes gradient { 
    0%{background-position:0 0}
    100%{background-position:100% 0}
}

.webflow-style-input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
    border-radius: 2px;
    padding: 0.5rem 1rem 0.6rem;
    background: rgba(57, 63, 84, 0.8);
  }

  .webflow-style-input::after {
    content: "";
    border: none;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }

  .webflow-style-input input {
    flex-grow: 1;
    color: #BFD2FF;
    font-size: 20px;
    background: rgba(57, 63, 84, 0.8);
    line-height: 2.4rem;
    vertical-align: middle;
    border: none;
    outline:none;
  }

  .webflow-style-input input::-webkit-input-placeholder {
    color: #7881A1;
  }

  .webflow-style-input button {
    background: transparent;
    color: #BFD2FF;
    font-size: 30px;
    margin: 0px 10px;
    line-height: 2.4rem;
    vertical-align: middle;
    transition: color .25s;
    border: none;
    outline:none;
  }

  .webflow-style-input button:hover {
    color: #7881A1;
  }

  .form_movies-content-right {
      width: 60%;
      height: auto;
  }

  .form_movies-content-right .id-film {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #a6b2c9;
  }

.datagrid-movies h3 {
    font-family: 'Limelight', cursive;
    margin-bottom: 0;
}

.datagrid-movies .table-list {
    width: 100%;
    overflow: auto;
}

.table-list::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
    
  }

  .table-list .table {
      background: #1b2438;
  }
  
  tbody {
      cursor: pointer;
  }

  tbody tr:hover{
    background: #8be66b;
  }


.btn {
      padding: 5px 10px;
      font-size: 20px;
     
  }

.btn-remove {
    opacity: 0.8;
    font-weight: 600;
  }

 .btn-remove .fal {
    color: #ff1919;
      font-weight: 500;
  }

.btn-remove:hover {
    opacity: 1;
  }


.theater-system {
    width: 100%;
    min-height: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.theater-system .theater-system_form {
    display: flex;
    flex-direction: column;
    height: auto;
    background: #121825;
    border-radius: 5px;
}

.theater-system_form .title {
    margin: 20px 0px;
    font-family: 'Limelight', cursive;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.theater-system_form .container {
    display: flex;
    flex-direction: initial;
    justify-content: space-around;
    align-items: flex-start;
}

.form_theater-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    color: #a6b2c9;
}

.option-province {
    font-family: 'Roboto', sans-serif;
    background: #37424b;
    font-weight: bold;
    color: #a6b2c9;
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.theater-sytem_data {
    width: 50%;
    height: 50%;
}

.table-list__theater-sys {
    height: 300px;
    overflow: auto;
    
}

.table-list__theater-sys::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
    
}

.table-list__theater-sys .table {
    background: #1b2438;
}

.theater {
    width: 100%;
    min-height: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background: #121825;
    color: #a6b2c9;
}

.theater h3 {
    font-family: 'Limelight', cursive;
    padding: 10px 0px;
}

.theater_form {
    display: flex;
    justify-content: space-around;
}

.option-theater, .option-type {
    font-family: 'Roboto', sans-serif;
    background: #37424b;
    font-weight: bold;
    color: #a6b2c9;
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

/* Show Time Manager */
.show-manager {
    width: 100%;
    min-height: 90vh;
    height: auto;
    background: #121825;
}

.show__title {
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    text-align: center;
    color: #8eff66;
    text-shadow: 0 0 5px #54ab35, 0 0 25px #54ab35, 0 0 50px #54ab35, 0 0 200px #54ab35;
    font-weight: 600;
    cursor: pointer;
}

.show-manager .list--times {
    position: relative;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #8eff66;
    font-size: 14px;
    font-weight: 500;
}

.list--times p {
    margin-bottom: 0;
}

.list--times .item.slick-slide {
    position: relative;
    color: #a6b2c9;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.5px;
    cursor: pointer;
}


.list--times .item.slick-slide:hover {
    color: #8eff66;
    border-bottom: 2px solid #8eff66;
}

.list--times .item.slick-slide.active {
    color: #8eff66;
    border-bottom: 2px solid #8eff66;
}

.container .form__showtime {
    width: 100%;
} 

.form__content {
    color: #a6b2c9;
    font-weight: 400;
    padding-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__content .form-group {
    width: 70%;
}

.form__content .group-times {
    width: 70%;
    display: flex;
    justify-content: space-around;
}


.form-group .hour, .form-group .minute {
    font-family: 'Roboto', sans-serif;
    background: #37424b;
    font-weight: bold;
    color: #a6b2c9;
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
