@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    box-shadow: 0 3px 10px rgba(0,  0,  0,   0.3);
    position: sticky;
    top: 0px;
    background: #121825;
    z-index: 100;
}

.nav-header {
    min-height: 12vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
 }

 .nav-header .nav-links  {
    margin: 0;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    background: #121825;
 }

 .nav-login {
    display: flex;
    flex-direction: column;
}

/* Loader */
.section-loader {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(18, 24, 37, .8);
    animation: animateBg 10s linear infinite;
}

.section-loader.hide {
    display: none;
}

@keyframes animateBg {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.section-loader .loader {
    top: -70px;
    position: relative;
    width: 120px;
    height: 120px;
}

.section-loader .loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.section-loader .loader span::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
                0 0 20px #00ff0a,
                0 0 40px #00ff0a,
                0 0 60px #00ff0a,
                0 0 80px #00ff0a,
                0 0 100px #00ff0a;
    
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    80%, 100% {
        transform: scale(0);
    }
}

 /* Burger Responsive Moblie*/
.dropdown_menu {
    position: relative;
 }

 .burger {
    display: none;
 }

 .burger div {
     width: 30px;
     height: 5px;
     background-color: #54ab35;
     margin: 5px;
     transition: all 0.3s ease;
 }

/* ========================= */

.nav-header .nav-links li {
    list-style: none;
    border-radius: 10px;
 }

 .nav-header .nav-links li a {
    height: 40px;
    padding: 20px;
    margin-right: 15px;
    border-radius: 5px;
    color: #54ab35;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
}

.nav-header .nav-links li.active a {
   background: #54ab35;
   color: #f6f8fd;
   box-shadow: 0 0 5px #54ab35,
               0 0 25px #54ab35,
               0 0 50px #54ab35,
               0 0 200px #54ab35;
   filter: brightness(1.2);
}

.nav-header .nav-links li a:hover {
   background: #54ab35;
   color: #f6f8fd;
   box-shadow: 0 0 5px #54ab35,
               0 0 25px #54ab35,
               0 0 50px #54ab35,
               0 0 200px #54ab35;
   filter: brightness(1.2);
}

.nav-header .btn-dropmenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-weight: bold;
    background: #54ab35;
    cursor: pointer;
    border-radius: 5px;
 }
 
 .nav-header .btn-dropmenu:hover {
    box-shadow: 0 0 5px #54ab35,
    0 0 25px #54ab35,
    0 0 50px #54ab35,
    0 0 200px #54ab35;
 }

/* Menu Drop Button Click */
.h-form-login {
    opacity: 1;
    position: absolute;
    right: 0;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
 }

 .h-form-login.active {
    visibility: visible;
    opacity: 1;
}

.dropdown_menu .h-form-login{
    border-radius: 5px;
    width: 350px;
    padding: 30px;
    background: #121825;
    box-shadow: 1px solid rgba(0, 0, 0, 0.5);
 }

.h-form-login .form-submit {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .h-form-login .form-submit button {
    width: 50%;
    font-weight: bold;
 }

 .h-form-login .btn-reg {
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
 }

 .h-form-login .btn-reg:hover,  .form-submit button:hover {
    box-shadow: 0 0px 5px 5px rgba(104, 221, 57, 0.3);
 }

 .dropdown_menu .h-form-login .form-submit .btn-link {
    color: #646e72;
    cursor: pointer;
 }

 .dropdown_menu .h-form-login .form-submit .btn-link:hover {
    color: #54ab35;
 }

 .dropdown_menu .h-form-login input {
    width: 100%;
    padding: 0 15px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
    line-height: 36px;
    border: none;
    outline: none;
    background: #273245;
    border-radius: 4px;
 }
 .dropdown_menu .h-form-login input:focus {
    background: #fff;
    color: #000;
 }
 /* ========================= */
 /*  End Header */
 /* Section Advertisement */
 .section--advertisement {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
}

.background__home {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
}

.bg_home {
    position: relative;
    width: 40%;
    height: 100%;
    background-color: #11161f;
}

.bg_advertis::before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, #11161f, rgba(17,22,31, 0.3));
    width: 100%;
    height: 100%;
}

.bg_advertis::after {
    content: '';    
    position: absolute;
    background: linear-gradient(0deg, #11161f, rgba(17,22,31, 0.3));
    width: 100%;
    height: 100%;
    top: 0;
} 

.content__section {
    width: 100%;
    height: auto;
    display: flex;
}

.info-content {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}

.content__advertisement .info-content h3 {
    width: 100%;
    text-align: left;
    font-family: 'Encode Sans SC', sans-serif;
    margin: 0 0 60px 0;
    font-size: 50px;
    text-transform: uppercase;
    color: #f8090f;
    font-weight: 600;
    animation: moveInRight 1s ease-out;
}

.content__advertisement {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__advertisement h3 {
    width: 100%;
    text-align: left;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 40px;
    margin: 40px 50px;
    font-weight: 600;
    color: #54ab35;
    animation: moveInLeft 1s ease-out;
}

.content__advertisement .content__movie {
    display: flex;
    width: 100%;
}

.content__advertisement .content__movie .movie__slider-poster {
    width: 400px;
    height: 600px;
    padding: 50px 20px;
}


.card-top {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 5px;
    margin: 20px 10px; 
    animation: moveInBottom 1s ease-out;
}

.card-top .card-img {
    width: 100%;
    height: 400px;
}

.card-top .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.background__home .bk__home-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.group__home-film{
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.group__home-film .group-film {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 150px;
    padding-bottom: 1.5rem;
}

.group__home-film  .group-film label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-weight: 500;
    color: #54ab35;
}

.group-film span {
    color: #a6b2c9;
}

.content__describe {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 150px;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-home {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #a6b2c9;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal-home.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal-home-trailer {
    width: 1280px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.modal-home-trailer .btn-home-close i {
   font-size: 28px;
   margin-right: 10px;
   cursor: pointer;
}

.modal-home-trailer .btn-home-close:hover i {
    color: red;
}


.modal-home-trailer .content-video-trailler {
    width: 100%;
    height: 100%;
    padding: 0px 10px 10px 10px;
    display: flex;
    justify-content: center;
}

.modal-home-trailer .content-video-trailler iframe {
    width: 100%;
    height: 100%;
}


 /* css for manual slide navigation */

.btn-manual {
     border: 2px solid #40d3dc;
     padding: 5px;
     border-radius: 10px;
     cursor: pointer;
     transition: 1s;
 }

.btn-manual:not(:last-child) {
     margin-right: 40px;
 }

.btn-manual:hover {
     background: #40d3dc;
 }

 #radio1:checked ~ .first {
     margin-left: 0;
 }

 #radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}
 /* End Section Advertisement */
/*  Movie Schedule */
#latest {
    height: auto;
    overflow: hidden;
    background: #11161f;
}

.title-product h3 { 
    display: inline-block;
    margin-top: 15px;
    margin: 0;
    font-size: 25px;
    border-bottom: 1px solid transparent;
    font-weight: 300;
    text-align: center;
    color: #8eff66;
    border-color: #8eff66;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    margin-left: 20px;
    line-height: 35px;
}

#latest ul {
    margin-top: 50px;
}

.latest-box {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 5px;
    margin: 20px 10px; 
}

.latest-b-img {
    width: 100%;
    height: 300px;
}

.latest-b-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.latest-box .btn-card {
    display: flex;
    width: 110%;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.item-null {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 5px;
    margin: 20px 10px;
}

.latest-box .btn-card a {
    margin: 0;
    width: 100%;
    color: #56ff1a;
    font-weight: bold;
    background: transparent;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.latest-box a:hover {
    border-radius: 0%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: -7px -7px 20px 0px #fff9,
                -4px -4px 5px 0px #fff9,
                7px 7px 20px 0px #0002,
                4px 4px 5px 0px #0001,
                inset 0px 0px 0px 0px #fff9,
                inset 0px 0px 0px 0px #0001,
                inset 0px 0px 0px 0px #fff9,
                inset 0px 0px 0px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.50, .21, .06, .81);
    transition: all 0.5s linear;
    transform: scaleX(120%);
    text-decoration: none;
}

.latest-box  .content {
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 140px;
    display:  flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: bottom 0.3s;
    transition-delay: 0.5s;
}

.latest-box:hover .content {
    bottom: 0px;
    transition-delay: 0s;
}

.latest-box .content .contentBx {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 0;
    margin: 5px 0px;
    width: 100%;
}



.latest-box  .content .contentBx p {
    font-family: 'Roboto', sans-serif;
    color: #56ff1a;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 13px;
}

.latest-box  .content .contentBx h3{
    color: #56ff1a;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-20px);
    transition-delay: 0.6s;
}

.latest-box:hover .content .contentBx h3 {
    opacity: 1;
    transform: translateY(0px);
}

.latest-box .content .contentBx h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

#btn-commingsoon:active ~ .active {
    opacity: 1;
    position: relative;
    z-index: 1;
}

#btn-view:active ~ .active {
    opacity: 1;
    position: relative;
    z-index: 1;
}


.js__list_1  {
    position: relative;
    display: block;
}


.js__list_2 {
    position: relative;
    display: block;
}
/*  End Movie Schedule */
/* Banner Promition */
.section-promotion {
    height: 60vh;
    overflow: hidden;
 }
 
 .promotion-slider{
	position: relative;
    height: 100%;
	width: 100%;
	background: #2c3e50;
}
.promotion-slider .myslider {
	height: 100%;
	overflow: hidden;
}

.btn-prev, .btn-next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	transition: 0.1s;
	user-select: none;
}

.promotion-slider  .btn-prev:hover{
	color: #00a7ff; 
    border-color: #00a7ff;
}
.btn-next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
    
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
    border-color:  #54ab35;
}

.active, .dot:hover{
	border-color: #d4dd29; /* blue */
}
 /* End Banner Promiton */
 /* Footer */
.footer-content {
    background-color: #11161f;
    padding: 40px 15px 20px 15px;
}

.title-widget {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    margin: 0 0 25px 0;
    padding-left: 16px;
}

.title-widget::before {
    background-color: #d4dd29;
    content: "";
    height: 22px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 4px;
}

.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_nav_menu ul li {
    font-size: 13px;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 7px;
    padding-bottom: 7px;
    color: #d8d8d8;
}

.widget_nav_menu ul li a i {
    opacity: 0;
}

.widget_nav_menu ul li a{
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    color: #a0a3a7;
    cursor: pointer;
    text-decoration: none;
}

.widget_nav_menu ul li a:hover{
    padding: 10px;
    color:  #d4dd29;
}

.widget_nav_menu ul li a:hover i {
    opacity: 1;
}

.social-menu ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30;
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 7px;
}

.social-menu ul li .fab {
   
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.social-menu ul li a:hover .fab {
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(#77A7FF);
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a i {
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.social-menu ul li a:hover {
    padding: 0px;
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a {
    color: #3b5999;
}

.social-menu ul li:nth-child(2) a {
    color: #cd201f;
}

.social-menu ul li:nth-child(3) a {
    color: #e4405f;
}

.social-menu ul li:nth-child(4) a {
    color: #55acee;
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #55acee;
}
 /* End Footer */
 /* ======= Toast message ======== */

#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999999;
  }
  
  .toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 15px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 3s;
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 20px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  
  .toast--success {
    border-color: #47d864;
  }
  
  .toast--success .toast__icon {
    color: #47d864;
  }
  
  .toast--info {
    border-color: #2f86eb;
  }
  
  .toast--info .toast__icon {
    color: #2f86eb;
  }
  
  .toast--warning {
    border-color: #ffc021;
  }
  
  .toast--warning .toast__icon {
    color: #ffc021;
  }
  
  .toast--error {
    border-color: #ff623d;
  }
  
  .toast--error .toast__icon {
    color: #ff623d;
  }
  
  .toast + .toast {
    margin-top: 24px;
  }
  
  .toast__icon {
    font-size: 24px;
  }
  
  .toast__icon,
  .toast__close {
    padding: 0 16px;
  }
  
  .toast__body {
    flex-grow: 1;
  }
  
  .toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
  .toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
  }
  
  .toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .toast__close:hover {
    color: rgba(0, 0, 0, 0.5);
  }
  /* =========== */
  /* drop menu user login */
  .action {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .action  .action__notify {
    position: relative;
    margin: 0 20px 0 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    cursor: pointer;
    border: 1px solid #a6b2c9;
  }

  .action  .action__notify:hover {
      z-index: 10;
      border: 2px solid #54ab35;
  }

  .action  .action__notify .fad {
      color: #54ab35;
    font-size: 1.3em;
  }
  .action  .action__notify .action__notify-count {
    position: absolute;
    display: flex;
    justify-content: center;
    top: -1px;
    right: -1px;
    width: 20px;
    border-radius: 50%;
    color: #fff;
    background: #c65858;
  }

  .action  .action__notify .action__notify-count span {
    font-size: 13px;
  }

  .__notify {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 50%;
    background: #121825;
    width: 450px;
    max-height: 640px;
    box-shadow: 0 -3px 20px rgb(0 0 0 / 50%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    visibility: hidden;
    transition: 0.5s;
    opacity: 0;
    overflow: hidden;
  }

  .action .__notify.active {
    top: 100%;
    visibility: visible;
    opacity: 1;
}

  .__notify .notify_title {
      position: relative;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #54ab35;
  }

  .simplebar-scrollbar::before {
    background-color: #a6b2c9 !important;
  }

  .__notify .scroll_notification{
    height: 592px;
  }
  
  .notify_content .notify_content-item{
        width: 100%;
      display: flex;
      padding: 5px;
      cursor: pointer;
      background-color: rgba(84,171,53,0.1);
  }

  .notify_content .notify_content-item.view {
        background: #121825;
  }

  .notify_content .notify_content-item.seen {
    background: #142512;
}

  .notify_content .notify_content-item:hover {
    background-color: #c1dcb71a;
  }

  .notify_content .notify_content-item .image_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .notify_content .notify_content-item .image_item img {
    width: 60px;
    object-fit: contain;
  }

  .notify_content .notify_content-item .item--content {
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: #a6b2c9;
  }

  .notify_content .notify_content-item .item--content .notificatio__time{
    font-size: 15px;
    font-weight: 600;
    margin-top: 6px;
    color: #54ab35;
  }

  .notify_content .notify_content-item .item--content p {
      margin: 0;
      font-size: 15px;
      line-height: 1.5rem;
  }

  .notify_content .notify_content-item .item--content span {
     color: #54ab35;
     margin: 0;
     font-weight: 600;
  }

.action .profile {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .profile:hover img{
    opacity: 0.5;
 }

.action .profile img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.action .menu {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 10px 20px;
    background: #121825;
    width: 300px;
    box-shadow: 0 -3px 20px rgb(0 0 0 / 50%);
    border-radius: 10px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.action .menu.active {
    top: 100%;
    visibility: visible;
    opacity: 1;
}

.action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: #a6b2c9;
    line-height: 1.2em;
}
.action .menu h3 span{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #a6b2c9;
}

.action .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.action .menu ul li .fal {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
    color: #a6b2c9;
}

.action .menu ul li:hover .fal
{
    opacity: 1;
}

.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #a6b2c9;
    font-weight: 500;
    transition: 0.5s;
}

.action .menu ul li:hover a
{
    color: #54ab35;
}
 /* Desktop */
@media screen and (max-width: 845px){ 
    /* Header Menu  */
    .nav-links{
        position: absolute;
        right: 0px;
        padding: 20px;
        height: 300px;
        width: 100%;
        top: 10vh;
        background-color: #1c1e21;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in;
        z-index: -1;
    }

    .nav-header .nav-links li {
        opacity: 0;
        margin: 5px;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .nav-header .nav-links li a {
        padding: 10px;
        text-align: center;
        width: 50%;
    }
 

    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active {
        opacity: 1;
        transform: translateY(0%);
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-7px, 7px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-7px, -7px);
    }

    @keyframes transform {
        from {
            opacity: 0;
            transform: translateX(100%);
        }
        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    /* End Header Menu */
    /* section advertisement */
    .section--advertisement {
        flex-direction: column;
        height: auto;
    }

    /* end section advertisement */
}

/* Mobile */ 
@media screen and (max-width: 600px){ 
    /* Header Menu */
    .nav-header .btn-dropmenu {
        width: 100px;
        height: 35px;
        font-size: 15px;
    }
    /* End Header Menu */
    /* Banner Promotion */
    .section-promotion {
        height: 25vh;
    }

    .dotsbox {
        width: 100%;
        bottom: 5px;
    }
    .nav-header .btn-toggle {
        width: 100px;
        height: 35px;
        font-size: 15px;
    }
    /* End Banner Promotion */

    /* Toast Message  */
    #toast {
        top: 10px;
        right: 5px;
      }

    .toast {
        min-width: 350px;
      }

    .toast + .toast {
        margin-top: 15px;
      }
      
      .toast__icon {
        font-size: 20px;
      }
      
      .toast__icon,
      .toast__close {
        padding: 0 15px;
      }
      
      .toast__body {
        flex-grow: 1;
      }
      
      .toast__title {
        font-size: 16px;
        font-weight: 600;
        color: #333;
      }
      
      .toast__msg {
        font-size: 14px;
        color: #888;
        margin-top: 6px;
        line-height: 1;
      }
      
      .toast__close {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
      }


      .__notify {
          width: 340px;
          right: 0;
      }

     .action .__notify.active {
        width: 330px;
      }


      .content__advertisement .content__movie {
          flex-direction: column;
          align-items: center;
      }
      .content__advertisement h3 {
          text-align: center;
          font-size: 30px;
      }
      .info-content {
          margin: 0;
      }
      .content__advertisement .info-content h3 {
          text-align: center;
      }
}

