
.movie-detail {
    height: 90vh;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
}

.movie__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0px;
}

.movie__title h4 {
    margin: 0;
    margin-left: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: #a6b2c9;
}

.movie__title h3{
    font-size: 25px;
    border-bottom: 1px solid transparent;
    font-weight: 600;
    color: #a6b2c9;
    margin: 0;
    cursor: pointer;
    
}

.movie__title a:hover h3 {
    display: inline-block;
    color: #8eff66;
    border-color: #8eff66;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.movie__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.movie__slider-poster {
    margin-top: 1em;
    width: 40%;
    height: 100%;
}

.movie__slider-poster .promotion-slider {
    position: relative;
    cursor: pointer;
    width: 90%;
    height: 550px;
}

.movie__slider-poster .btn-prev,.movie__slider-poster .btn-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
    opacity: 0;
}

.movie__slider-poster .promotion-slider:hover .btn-prev,.movie__slider-poster .promotion-slider:hover .btn-next { 
    opacity: 1;
}

.movie__slider-poster  .dotsbox {
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}

.movie__info--film {
    margin-top: 1em;
    color: #a6b2c9;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.group__info-film {
    display: flex;
}

.group__film--title {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.group__film--content {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.group__film--title label {
    margin: 0;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.group__film--content p {
    margin: 0;
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: #f8090f;
}

.group__info-film span {
    margin-bottom: 1.5rem;
}
