@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: consolas;
    box-sizing: border-box;
}

body {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #141019;
    background: radial-gradient(at 50% -20%, #908392, #0d060e) fixed;
  }

.container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    width: 100%;
}

  #handboy {
    animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 98% 98%;
    transform-box: fill-box;
  }
  #girllight {
    animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 0% 97%;
    transform-box: fill-box;
  }
  #hairgirl {
    animation: swinghair ease-in-out 1.3s infinite alternate;
    transform-origin: 60% 0%;
    transform-box: fill-box;
  }
  #zero {
    transform-origin: bottom;
    transform-box: fill-box;
  }
  
  @keyframes swing {
    0% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }
  @keyframes swinghair {
    0% {
      transform: rotate(6deg);
    }
    100% {
      transform: rotate(-6deg);
    }
  }

  .content {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .content h3 { 
    color: rgb(228, 145, 145);
    margin: 0;
    padding: 5px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Girassol', cursive;
  }



.content .content-button {
    display: flex;
    flex: row;
}


.content .content-button a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    margin: 40px 30px;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.content .content-button a:hover {
    background: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}   

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1)
{
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#03e9f4);
    animation: animate1 1.5s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

a span:nth-child(2)
{
    top: -100;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent,#03e9f4);
    animation: animate2 1.5s linear infinite;
    animation-delay: 0.35s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

a span:nth-child(3)
{
    right: -100;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(270deg, transparent,#03e9f4);
    animation: animate3 1.5s linear infinite;
    animation-delay: 0.65s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

a span:nth-child(4)
{
    bottom: -100;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent,#03e9f4);
    animation: animate4 1.5s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}